@font-face {
    font-family: 'BADABB';
    src: url('../fonts/BADABB.eot');
    src: url('../fonts/BADABB.eot') format('embedded-opentype'),
         url('../fonts/BADABB.woff2') format('woff2'),
         url('../fonts/BADABB.woff') format('woff'),
         url('../fonts/BADABB.ttf') format('truetype'),
         url('../fonts/BADABB.svg#BADABB') format('svg');
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    background-image: url(../images/body-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'BADABB';
}
.layout-3-2nd{
    width: 1520px;
    margin: 0 auto;
    margin-top: 230px;
    text-align: center;
}
h2.headline {
    font-size: 73px;
    color: #FFF;
    font-weight: 100;
    letter-spacing: 3px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}




/*************Card Section************/
.card {
    flex: 1;
}
.card figure {
    margin: 0;
    padding: 0;
}
.card figure img {
    width: 300px;
    height: 300px;
    object-fit: none;
    object-position: center;
    border: 12px solid black;
    border-radius: 50%;
    display: block;
    padding: 25px;
    background: #008B83;
}
.card p {
    font-size: 36px;
    max-width: 350px;
    text-align: center;
    margin: 25px auto 0 auto;
}


/*************Revenue Section************/
.revenue {
    flex: 2;
}
.revenue h2 {
    font-size: 142px;
    font-weight: 100;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: #FFE23D;
    text-shadow: 11px 4px 2px #000000;
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 140px;
    padding-bottom: 140px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 760px;
}
.revenue h3 {
    font-size: 47px;
    font-weight: 100;
    margin: 0;
    padding: 40px 0 60px 0;
}
.revenue p {
    font-size: 58px;
    font-weight: 100;
    margin: 0;
    color: #FFF;
}

/*************Target Section************/
.target {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 30px;
}
.percentage {
    position: relative;
    width: 290px;
    height: 290px;
    border: 5px solid #000;
    border-radius: 50%;
    background: #38CEC7;
}
.percentage svg {
    width: 300px;
    height: 300px;
    margin-top: 0px;
    margin-left: 0px;
}
.percentage .bg {
    fill: none;
    stroke-width: 40px;
    stroke: #008b83;
}
.percentage .progress {
    fill: none;
    stroke-width: 40px;
    stroke: #ffe23d;
    stroke-linecap: round;
    stroke-dasharray: 746;
    stroke-dashoffset: 370;
    /*Please change stroke-dashoffset value according to percentage,
    185 = 75%; 370 = 50%; 555 = 25%; 746 = 0%
    Don't forget to change in the animation section as well*/
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: big 1.5s ease-in-out;
}  
  
  .percentage .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    font-size: 80px;
    text-align: center;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  .percentage .small {
    font-size: 20px;
    max-width: 200px;
    text-transform: lowercase;
}
p.target-to-hit {
    font-size: 36px;
    max-width: 350px;
    margin: 25px auto 0 auto;
}








/*===================================
Animation CSS
====================================*/
@keyframes big {
    from {
      stroke-dashoffset: 755;
    }
    to {
      stroke-dashoffset: 370;
      /*Please change this value according to percentage*/
    }
  }
  .revenue h2{
    position: relative;
    animation-name: revenue;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes revenue {
    0%   {transform: scale(.4)}
    50%  {transform: scale(.6)}
    100% {transform: scale(1)}
}
/*=================================
Responsive CSS
==================================*/

@media screen and (max-width: 1800px) {
    .layout-3-2nd {
        width: 1000px;
        margin-top: 150px;
        margin-bottom: 50px;
    }
    h2.headline {
        font-size: 50px;
    }
    .card figure img {
        width: 240px;
        height: 240px;
        padding: 11px;
        border: 6px solid black;
    }
    .revenue h2 {
        font-size: 80px;
        -webkit-text-stroke-width: 3px;
        padding-top: 100px;
        padding-bottom: 100px;
        max-width: 500px;
    }
    .revenue h3 {
        font-size: 34px;
        padding: 20px 0 17px 0;
    }
    .revenue p {
        font-size: 38px;
    }
    .card p, p.target-to-hit {
        font-size: 26px;
        max-width: 200px;
        margin: 15px auto 0 auto;
    }
    .percentage {
        width: 276px;
        height: 276px;
    }
    .percentage svg {
        margin-top: -7px;
        margin-left: -7px;
    }
    .percentage .bg, .percentage .progress {
        stroke-width: 25px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        height: auto;
    }
    .layout-3-2nd {
        width: 100%;
        margin-top: 90px;
        padding: 0 15px;
    }
    h2.headline {
        font-size: 30px;
    }
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        order: 2;
    }
    .revenue {
        order: 1;
        padding-bottom: 50px;
    }
    .revenue h2 {
        font-size: 45px;
        -webkit-text-stroke-width: 2px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .revenue h3 {
        font-size: 30px;
        padding: 20px 0 17px 0;
        color: white;
    }
    .revenue p {
        font-size: 32px;
    }
    .target {
        order: 3;
        margin-top: 50px;
    }

}
@media screen and (max-width: 480px) {

}