@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/InterRegular.eot');
    src: url('../fonts/InterRegular.eot') format('embedded-opentype'),
         url('../fonts/InterRegular.woff2') format('woff2'),
         url('../fonts/InterRegular.woff') format('woff'),
         url('../fonts/InterRegular.ttf') format('truetype'),
         url('../fonts/InterRegular.svg#InterRegular') format('svg');
}
@font-face {
    font-family: 'InterBlack';
    src: url('../fonts/InterBlack.eot');
    src: url('../fonts/InterBlack.eot') format('embedded-opentype'),
         url('../fonts/InterBlack.woff2') format('woff2'),
         url('../fonts/InterBlack.woff') format('woff'),
         url('../fonts/InterBlack.ttf') format('truetype'),
         url('../fonts/InterBlack.svg#InterBlack') format('svg');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('../fonts/RobotoMedium.woff2') format('woff2'),
         url('../fonts/RobotoMedium.woff') format('woff'),
         url('../fonts/RobotoMedium.ttf') format('truetype'),
         url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold.woff2') format('woff2'),
         url('../fonts/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold.ttf') format('truetype'),
         url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/RobotoBlack.eot');
    src: url('../fonts/RobotoBlack.eot') format('embedded-opentype'),
         url('../fonts/RobotoBlack.woff2') format('woff2'),
         url('../fonts/RobotoBlack.woff') format('woff'),
         url('../fonts/RobotoBlack.ttf') format('truetype'),
         url('../fonts/RobotoBlack.svg#RobotoBlack') format('svg');
}
@font-face {
    font-family: 'FuturaPTHeavy';
    src: url('../fonts/FuturaPTHeavy.eot');
    src: url('../fonts/FuturaPTHeavy.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTHeavy.woff2') format('woff2'),
         url('../fonts/FuturaPTHeavy.woff') format('woff'),
         url('../fonts/FuturaPTHeavy.ttf') format('truetype'),
         url('../fonts/FuturaPTHeavy.svg#FuturaPTHeavy') format('svg');
}
@font-face {
    font-family: 'FuturaPTDemi';
    src: url('../fonts/FuturaPTDemi.eot');
    src: url('../fonts/FuturaPTDemi.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTDemi.woff2') format('woff2'),
         url('../fonts/FuturaPTDemi.woff') format('woff'),
         url('../fonts/FuturaPTDemi.ttf') format('truetype'),
         url('../fonts/FuturaPTDemi.svg#FuturaPTDemi') format('svg');
}
@font-face {
    font-family: 'FuturaPTBold';
    src: url('../fonts/FuturaPTBold.eot');
    src: url('../fonts/FuturaPTBold.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTBold.woff2') format('woff2'),
         url('../fonts/FuturaPTBold.woff') format('woff'),
         url('../fonts/FuturaPTBold.ttf') format('truetype'),
         url('../fonts/FuturaPTBold.svg#FuturaPTBold') format('svg');
}
@font-face {
    font-family: 'FuturaPTLight';
    src: url('../fonts/FuturaPTLight.eot');
    src: url('../fonts/FuturaPTLight.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTLight.woff2') format('woff2'),
         url('../fonts/FuturaPTLight.woff') format('woff'),
         url('../fonts/FuturaPTLight.ttf') format('truetype'),
         url('../fonts/FuturaPTLight.svg#FuturaPTLight') format('svg');
}



*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'InterRegular';
    background-image: url(../images/body-bg-v1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.report {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 1080px;
}
h1.headline {
    margin: 0;
    font-size: 86px;
    padding: 40px 250px;
    border-radius: 0 0 30px 30px;
    background: rgb(255,255,255);
    background: linear-gradient( 90deg, rgba(255,255,255,1) 0%, #D1D3D4 100%);
    color: #779BB1;
    font-family: 'InterBlack';
}
.report-ranking {
    display: flex;
    width: 1880px;
    justify-content: space-between;
    margin: 53.5px 0;
}
.report-ranking ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 25px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,231,232,1) 100%);
    width: 460px;
    border-radius: 20px;
}
.report-ranking ul li {
    display: flex;
    margin-bottom: 14px;
    border-radius: 17px;
    padding: 0;
    width: 100%;
    justify-content: start;
    align-items: center;
    border: 1px solid #DBDDDD;
    padding-top: 8px;
    padding-bottom: 8px;
}
li.col-header {
    text-transform: uppercase;
    border-left: 0px!important;
    border-right: 0px!important;
    border-top: 0px!important;
    border-radius: 0!important;
    margin-bottom: 12px!important;
}
li.col-header p {
    font-size: 11px;
    margin: 0 15px 0 0;
    color: #535556;
}
li.col-header p.ch-progress {
    margin: 0 15px 0 22px;
}
.report-ranking ul li:last-child {
    margin-bottom: 0px;
}
p.place {
    font-size: 12px;
    margin: 0;
    width: 30px;
    padding: 0;
    color: #1A262B;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
}
.report-ranking ul li figure {
    margin: 0 10px 0 0;
    padding: 0;
}
.report-ranking ul li figure img {
    margin: 0;
    padding: 0;
}
.report-ranking ul li figure img {
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    object-fit: contain;
    object-position: center;
    display: block;
    border-radius: 50%;
}
.details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 12px;
    position: relative;
}
.details:after {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    right: -25px;
    top: 5px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.details p.participant {
    text-align: left;
    margin: 5px 0 0 0;
    width: 77px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    font-family: 'InterBlack';
    color: #1A262B;
}
p.reports-number {
    margin: 5px 10px 0 0;
    color: #506A78;
    border-bottom: 1px solid #506A78;
    padding: 0;
    height: 16px;
    width: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.progressbar {
    position: relative;
    background: #D7DEE8;
    width: 160px;
    height: 8px;
    border-radius: 20px;
    margin-top: 9px;
}
.progressbar-inner {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background: #94AFC1;
    border-radius: 20px;
}
p.progress-percentage {
    font-family: 'InterBlack';
    margin: 5px 0 0 10px;
    color: #506A78;
    display: flex;
    padding: 0;
    height: auto;
    width: 26px;
}

p.deadline-text {
    text-transform: uppercase;
    font-size: 33px;
    font-family: 'InterBlack';
    margin: 0;
    padding: 45px 0;
    width: 100%;
    display: block;
    color: #2A3D45;
    background: rgb(255,255,255);
    background: linear-gradient( 90deg, rgba(255,255,255,1) 0%, #D1D3D4 100%);
}


/*===================================
Version Specific CSS
====================================*/
/* The defualt version is #1*/

/* Version #2*/
body.report-v2 {
    background-image: url(../images/body-bg-v2.jpg);
}
body.report-v2 h1.headline {
    font-size: 80px;
    padding: 35px 250px;
    background: #0c426bcf;
    color: #ffffff;
    font-family: 'InterRegular';
    font-weight: 100;
}
body.report-v2 .report-ranking {
    margin: 5px 0;
    width: 1800px;
}
body.report-v2 p.deadline-text {
    color: #ffffff;
    background: transparent;
    padding: 0 0 40px 0;
}
body.report-v2 .report-ranking ul {
    background: none;
    width: 930px;
    border-radius: 20px;
}
body.report-v2 .report-ranking ul li {
    border: 0px;
    padding: 0;
    margin-bottom: 5px;
}
body.report-v2 li.col-header {
    border-bottom: 1px solid #20749d6b!important;
    padding-bottom: 15px!important;
    margin-bottom: 15px!important;
}
body.report-v2 li.col-header p {
    font-size: 14px;
    margin: 0 85px 0 0;
    color: #ffffff;
}
body.report-v2 .details {
    background: #FFF;
    flex: 1;
    padding: 6px 15px;
    border-radius: 15px;
}
body.report-v2 p.place {
    font-size: 18px;
    color: #ffffff;
    width: 40px;
    text-align: center;
    margin: 3px 10px 0 0;
}
body.report-v2 .report-ranking ul li figure img {
    width: 54px;
    height: 54px;
}
body.report-v2 .details p.participant {
    margin: 17px 0 0 10px;
    padding: 0 20px 0 0;
    font-size: 18px;
    width: 170px;
    position: relative;
}
body.report-v2 .details p.participant:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 22px;
    right: 15px;
    top: 0;
    background: #cfcfcf;
    z-index: 1;
}
body.report-v2 p.reports-number {
    color: #1A262B;
    font-family: 'InterBlack';
    border-bottom: 1px solid #04a1da;
    font-size: 18px;
    height: 24px;
    margin-top: 17px;
    width: 40px;
    margin-left: 15px;
    margin-right: 15px;
}
body.report-v2 .progressbar {
    background: #D7DEE8;
    width: 280px;
    height: 12px;
    border-radius: 20px;
    margin-top: 24px;
    margin-left: 50px;
    position: relative;
}
body.report-v2 .progressbar-inner {
    background: #00F2F0;
    background: linear-gradient( 90deg, #00F2F0 0%, #1399FF 100%);
}
body.report-v2 .progressbar:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 22px;
    left: -35px;
    top: -6px;
    background: #cfcfcf;
    z-index: 1;
}
body.report-v2 p.progress-percentage {
    margin: 18px 0 0 35px;
    color: #1A262B;
    width: 52px;
    font-size: 18px;
}
body.report-v2 .details:after {
    width: 18px;
    height: 18px;
    right: 20px;
    top: 24px;
    background-image: url(../images/arrow.png);
}
/*V3 responsive css*/
body.report-v3 {
    background-image: url(../images/body-bg-v3.jpg);
    font-family: 'InterRegular';
}
body.report-v3 .header {
    background: rgba(0,0,0,.8);
    border-radius: 0 0 200px 0;
    width: 530px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 0 0 100px;
}
body.report-v3 .report {
    flex-direction: row;
}
body.report-v3 h1.headline {
    margin: 0;
    font-size: 80px;
    padding: 0;
    background: none;
    color: #ffffff;
    font-family: 'InterRegular';
    font-weight: 100;
    border-radius: 0;
    text-align: left;
}
body.report-v3 p.deadline-text {
    font-family: 'InterRegular';
    margin: 15px 0 0 0;
    padding: 0;
    width: auto;
    text-align: left;
    display: block;
    color: #ffffff;
    background: none;
}
body.report-v3 .report-ranking {
    display: flex;
    width: 1230px;
    justify-content: space-between;
    margin: 20px 50px 20px 0;
}
body.report-v3 .report-ranking ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 25px;
    background: rgba(0,0,0,.7);
    width: 605px;
    border-radius: 10px;
}
body.report-v3 .report-ranking ul li {
    border: 0px solid #DBDDDD;
}
body.report-v3 li.col-header p {
    font-size: 11px;
    margin: 0 25px 0 0;
    color: #ffffff;
}
body.report-v3 p.place {
    color: #ffffff;
}
body.report-v3 .details p.participant {
    font-family: 'InterBlack';
    color: #FFF;
}
body.report-v3 .progressbar-inner {
    background: #00EFF1;
    background: linear-gradient( 90deg, #00EFF1 0%, #138ce9 100%);
}

/* Version #4*/
body.report-v4 {
    background-image: url(../images/body-bg-v4.jpg);
    font-family: 'RobotoBold';
}
.report-v4 .report {
    justify-content: center;
}
.report-v4 .header {
    display: flex;
    width: 1880px;
    justify-content: end;
    align-items: center;
}
.report-v4 h1.headline {
    font-family: 'RobotoBlack';
    color: #506A78;
    font-size: 59px;
    padding: 0;
    background: none;
}
.report-v4 p.deadline-text {
    font-size: 45px;
    color: #7899B0;
    font-family: inherit;
    padding: 0;
    background: none;
    width: auto;
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid #7899B0;
}
.report-v4 .report-ranking {
    background: linear-gradient( 90deg, rgba(255,255,255,1) 0%, #D6D7D8 100%);
    color: #779BB1;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 33px 2px rgb(78 103 118 / 80%);
    box-shadow: 0px 0px 33px 2px rgb(78 103 118 / 80%);
    padding: 20px;
}
.report-v4 .report-ranking ul {
    background: none;
    border-radius: 0px;
    width: 470px;
    padding: 0px 0px 12px 0px;
    border-bottom: 1px solid #c4ced5;
}
.report-v4 .report-ranking ul li {
    margin-bottom: 0;
    border-radius: 0px;
    border-right: 1px solid #c4ced5;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #c4ced5;
    padding: 15px;
}
.report-v4 .report-ranking ul:last-child li {
    border-right: 0;
}
.report-v4 .report-ranking ul li:last-child {
    border-bottom: 0;
}
.report-v4 li.col-header p {
    font-family: 'RobotoMedium';
}
.report-v4 p.place {
    font-family: 'RobotoBold';
    color: #7899B0;
}
.report-v4 .details p.participant {
    font-family: 'RobotoBold';
    color: #506A78;
}
.report-v4 p.progress-percentage {
    font-family: 'RobotoBold';
    color: #7899B0;
}
/*V5 responsive css*/
body.report-v5 {
    background-image: url(../images/body-bg-v5.jpg);
    font-family: 'InterRegular';
}
body.report-v5 .header {
    background: rgba(0,39,92,.8);
    border-radius: 0 20px 20px 0;
    width: 420px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 0 0 50px;
}
body.report-v5 .report {
    flex-direction: row;
}
body.report-v5 h1.headline {
    margin: 0;
    font-size: 60px;
    padding: 0;
    background: none;
    color: #ffffff;
    font-family: 'InterRegular';
    font-weight: 100;
    border-radius: 0;
    text-align: left;
    text-transform: uppercase;
}
body.report-v5 p.deadline-text {
    font-family: 'RobotoLight';
    font-weight: 100!important;
    margin: 15px 0 0 0;
    padding: 0;
    width: auto;
    text-align: left;
    display: block;
    color: #ffffff;
    background: none;
}
body.report-v5 .report-ranking {
    display: flex;
    width: 1280px;
    justify-content: space-between;
    margin: 20px 100px 20px 0;
    background: rgba(0,39,92,.8);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
body.report-v5 .report-ranking ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 25px;
    background: transparent;
    width: 605px;
    border-radius: 10px;
}
body.report-v5 .report-ranking ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px solid #DBDDDD;
    border-bottom: 1px solid #2f5c9f;
    border-radius: 0;
}
body.report-v5 li.col-header p {
    font-size: 11px;
    margin: 0 50px 0 0;
    color: #ffffff;
    font-family: 'RobotoRegular';
}
body.report-v5 p.place {
    color: #9EE9FF;
    font-family: 'RobotoRegular';
    font-size: 18px;
    width: 40px;
}
body.report-v5 .report-ranking ul li figure img {
    width: 38px;
    height: 38px;
}
body.report-v5 .details p.participant {
    color: #FFF;
    font-family: 'RobotoBold';
    font-size: 18px;
    max-height: initial;
}
body.report-v5 p.reports-number {
    font-family: 'RobotoBold';
    font-size: 18px;
    height: 24px;
    color: #FFF;
}
body.report-v5 .progressbar {
    background: #ffffff;
    height: 10px;
}
body.report-v5 .progressbar-inner {
    background: #00EFF1;
}
body.report-v5 p.progress-percentage {
    color: #ffffff;
    width: 30px;
    font-family: 'RobotoBold';
    font-size: 18px;
}
body.report-v5 .details:after {
    top: 8px;
}
/* Version #6*/
body.report-v6 {
    background-image: url(../images/body-bg-v6.jpg);
    font-family: 'RobotoBlack';
}
body.report-v6 .report {
    justify-content: center;
}
body.report-v6 .header {
    margin-bottom: 40px;
    background: rgba(3, 21, 31, .8);
    padding: 30px 50px;
    border-radius: 30px;
}
body.report-v6 h1.headline {
    font-size: 59px;
    padding: 0;
    background: none;
    color: #6DE6FC;
    font-family: 'RobotoBlack';
    font-weight: 100;
    text-transform: uppercase;
}
body.report-v6 .report-ranking {
    margin: 5px 0;
    width: 1800px;
}
body.report-v6 p.deadline-text {
    color: #ffffff;
    background: transparent;
    padding: 0 35px 0px 0;
    text-transform: inherit;
    font-size: 43px;
    font-weight: 100;
    font-family: 'FuturaPTBold';
    width: auto;
}
body.report-v6 .report-ranking ul {
    background: none;
    width: 930px;
    border-radius: 20px;
}
body.report-v6 .report-ranking ul li {
    border: 0px;
    padding: 0;
    margin-bottom: 5px;
}
body.report-v6 li.col-header {
    border-bottom: 1px solid #20749d6b!important;
    padding-bottom: 15px!important;
    margin-bottom: 15px!important;
}
body.report-v6 li.col-header p {
    font-size: 14px;
    margin: 0 85px 0 0;
    color: #ffffff;
    font-family: 'RobotoMedium';
}
body.report-v6 .details {    
    background: rgba(3, 21, 31, .8);
    flex: 1;
    padding: 6px 15px;
    border-radius: 15px;
}
body.report-v6 p.place {
    font-size: 20px;
    color: #ffffff;
    width: 40px;
    text-align: center;
    margin: 0px 10px 0 0;
    font-family: 'RobotoMedium';
}
body.report-v6 .report-ranking ul li figure img {
    width: 54px;
    height: 54px;
}
body.report-v6 .details p.participant {
    margin: 17px 0 0 10px;
    padding: 0 20px 0 0;
    font-size: 18px;
    width: 170px;
    position: relative;
    color: #FFF;
}
body.report-v6 p.participant span {
    font-family: 'RobotoBlack';
}
body.report-v6 .details p.participant:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 22px;
    right: 15px;
    top: 0;
    background: #1b5e6a;
    z-index: 1;
}
body.report-v6 p.reports-number {
    color: #1A262B;
    font-family: 'RobotoBold';
    border-bottom: 0px solid #04a1da;
    font-size: 18px;
    height: 24px;
    margin-top: 17px;
    width: 40px;
    margin-left: 15px;
    margin-right: 15px;
    color: #FFF;
}
body.report-v6 .progressbar {
    background: #D7DEE8;
    width: 280px;
    height: 12px;
    border-radius: 20px;
    margin-top: 24px;
    margin-left: 50px;
    position: relative;
}
body.report-v6 .progressbar-inner {
    background: #6DE6FC;
}
body.report-v6 .progressbar:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 22px;
    left: -35px;
    top: -6px;
    background: #1b5e6a;
    z-index: 1;
}
body.report-v6 p.progress-percentage {
    margin: 18px 0 0 35px;
    color: #FFF;
    width: 52px;
    font-size: 18px;
}
body.report-v6 .details:after {
    width: 18px;
    height: 18px;
    right: 20px;
    top: 24px;
}


/* Version #8*/
body.report-v8 {
    background-image: url(../images/body-bg-v8.jpg);
    font-family: 'FuturaPTBold';
}
.report-v8 h1.headline {
    background: #244058a1;
    color: #FFF;
    font-family: 'FuturaPTBold';
    font-size: 55px;
}
.report-v8 p.deadline-text {
    color: #FFF;
    background: no-repeat;
    padding: 0px 0 60px 0;
    font-family: 'FuturaPTBold';
}
.report-v8 .report-ranking {
    color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    background: #426985c7;
}
.report-v8 .report-ranking ul {
    background: none;
    border-radius: 0px;
    width: 470px;
    padding: 0px 0px 12px 0px;
    border-bottom: 1px solid #9AB5C6;
}
.report-v8 .report-ranking ul li {
    margin-bottom: 0;
    border-radius: 0px;
    border-right: 1px solid #9AB5C6;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #9AB5C6;
    padding: 15px;
}
.report-v8 .report-ranking ul:last-child li {
    border-right: 0;
}
.report-v8 .report-ranking ul li:last-child {
    border-bottom: 0;
}
.report-v8 li.col-header p {
    font-family: 'FuturaPTLight';
    color: #FFF;
}
.report-v8 p.place {
    font-family: 'FuturaPTDemi';
    color: #7EC2E9;
    font-size: 16px;
}
.report-v8 .details p.participant {
    color: #ffffff;
    font-family: 'FuturaPTHeavy';
    font-size: 16px;
    height: auto;
    margin-top: 1px;
}
.report-v8 .details p.reports-number {
    font-size: 18px;
    color: #FFF;
    margin-top: 1px;
    height: auto;
    border-bottom-color: #88bde1;
}
.report-v8 p.progress-percentage {
    font-family: 'FuturaPTBold';
    color: #ffffff;
    font-size: 18px;
}
.report-v8 .details:after {
    right: -42px;
}
.report-v8 .progressbar {
    background: #D7DEE8;
}
.report-v8 .progressbar-inner {
    background: #8CAABD;
}
/* Version #9*/
body.report-v9 {
    background-image: url(../images/body-bg-v9.jpg);
    font-family: 'FuturaPTBold';
}
body.report-v9 .report {
    justify-content: center;
}
body.report-v9 .header {
    width: 1800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}
body.report-v9 h1.headline {
    font-size: 80px;
    padding: 0;
    background: none;
    color: #ffffff;
    font-family: 'FuturaPTBold';
    font-weight: 100;
    text-transform: uppercase;
}
body.report-v9 .report-ranking {
    margin: 5px 0;
    width: 1800px;
}
body.report-v9 p.deadline-text {
    color: #ffffff;
    background: transparent;
    padding: 0 35px 0px 0;
    text-transform: inherit;
    font-size: 43px;
    font-weight: 100;
    font-family: 'FuturaPTBold';
    width: auto;
}
body.report-v9 .report-ranking ul {
    background: none;
    width: 930px;
    border-radius: 20px;
}
body.report-v9 .report-ranking ul li {
    border: 0px;
    padding: 0;
    margin-bottom: 5px;
}
body.report-v9 li.col-header {
    border-bottom: 1px solid #20749d6b!important;
    padding-bottom: 15px!important;
    margin-bottom: 15px!important;
}
body.report-v9 li.col-header p {
    font-size: 16px;
    margin: 0 85px 0 0;
    color: #ffffff;
    font-family: 'FuturaPTLight';
}
body.report-v9 .details {
    background: #FFF;
    flex: 1;
    padding: 6px 15px;
    border-radius: 15px;
}
body.report-v9 p.place {
    font-size: 18px;
    color: #ffffff;
    width: 40px;
    text-align: center;
    margin: 3px 10px 0 0;
    font-family: 'FuturaPTLight';
}
body.report-v9 .report-ranking ul li figure img {
    width: 54px;
    height: 54px;
}
body.report-v9 .details p.participant {
    margin: 17px 0 0 10px;
    padding: 0 20px 0 0;
    font-size: 18px;
    width: 170px;
    position: relative;
}
body.report-v9 .details p.participant:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 22px;
    right: 15px;
    top: 0;
    background: #cfcfcf;
    z-index: 1;
}
body.report-v9 p.reports-number {
    color: #1A262B;
    font-family: 'FuturaPTBold';
    border-bottom: 0px solid #04a1da;
    font-size: 18px;
    height: 24px;
    margin-top: 17px;
    width: 40px;
    margin-left: 15px;
    margin-right: 15px;
}
body.report-v9 .progressbar {
    background: #D7DEE8;
    width: 280px;
    height: 12px;
    border-radius: 20px;
    margin-top: 24px;
    margin-left: 50px;
    position: relative;
}
body.report-v9 .progressbar-inner {
    background: #2E3E49;
}
body.report-v9 .progressbar:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 22px;
    left: -35px;
    top: -6px;
    background: #cfcfcf;
    z-index: 1;
}
body.report-v9 p.progress-percentage {
    margin: 18px 0 0 35px;
    color: #1A262B;
    width: 52px;
    font-size: 18px;
}
body.report-v9 .details:after {
    width: 18px;
    height: 18px;
    right: 20px;
    top: 24px;
}


/*===================================
Animation CSS
====================================*/
p.place, p.total {
    position: relative;
    animation-name: totalNumber;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes totalNumber {
    0%   {transform: scale(.4)}
    50%  {transform: scale(.6)}
    100% {transform: scale(1)}
}

.progressbar-inner{
    position: absolute;
    animation-name: progress;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes progress {
    0%   {width: 0%;}
    50%  {width: 50%;}
    100% {width: 100%;}
}

/*=================================
Responsive CSS
==================================*/

@media screen and (min-width: 1901px) {
    .details {
        flex: 1!important;
    }
    .details p.participant {
        margin: 0px 0 0 10px!important;
        text-overflow: clip;
        white-space: pre-wrap;
        display: flex;
        align-items: center;
        max-height: 28px;
    }
    p.participant span {
        max-height: 25px;
        overflow: hidden;
        line-height: 1;
    }
    p.reports-number {
        width: auto!important;
    }
    .progressbar {
        width: auto!important;
        flex: 1;
    }
    .report-ranking ul li {
        padding-right: 35px!important;
    }
    /*V2 responsive css*/
    body.report-v2 .report-ranking ul li {
        padding-right: 0px!important;
    }
    body.report-v2 .details {
        padding: 6px 40px 6px 15px;
    }
    body.report-v2 .details p.participant:after {
        top: 18px;
    }
    body.report-v2 p.participant {
        max-height: inherit;
    }
    body.report-v2 p.participant span {
        max-height: 35px;
    }
    /*V3 responsive css*/
    body.report-v3 li.col-header p.ch-progress {
        margin-left: 80px;
    }
    body.report-v3 p.participant span {
        max-height: 24px;
    }
    body.report-v3 p.reports-number {
        color: #FFF;
        border-bottom: 1px solid #00EFF1;
        margin: 5px 30px 0 15px;
    }
    /*V5 responsive css*/
    body.report-v5 .details p.participant {
        width: 110px;
    }
    body.report-v5 li.col-header p.ch-progress {
        margin-left: 80px;
    }
    body.report-v5 p.participant span {
        max-height: 35px;
    }
    body.report-v5 p.reports-number {
        color: #FFF;
        border-bottom: 1px solid #00EFF1;
        margin: 5px 30px 0 15px;
    }
    /*V6 responsive css*/
    body.report-v6 .report-ranking ul li {
        padding-right: 0px!important;
    }
    body.report-v6 .details {
        padding: 6px 40px 6px 15px;
    }
    body.report-v6 .details p.participant:after {
        top: 18px;
    }
    body.report-v6 p.participant {
        max-height: inherit;
    }
    body.report-v6 p.participant span {
        max-height: 35px;
    }
    /*V8 responsive css*/
    body.report-v8 p.participant span {
        max-height: 34px;
    }
    body.report-v8 .report-ranking ul li {
        padding-right: 65px!important;
    }
    .report-v8 p.progress-percentage {
        margin: 2px 0 0 10px;
    }
    /*V9 responsive css*/
    body.report-v9 .report-ranking ul li {
        padding-right: 0px!important;
    }
    body.report-v9 .details {
        padding: 6px 40px 6px 15px;
    }
    body.report-v9 .details p.participant:after {
        top: 18px;
    }
    body.report-v9 p.participant {
        max-height: inherit;
    }
    body.report-v9 p.participant span {
        max-height: 35px;
    }

}
@media screen and (max-width: 1900px) {
    h1.headline {
        font-size: 56px;
        padding: 25px 50px;
    }
    .report-ranking {
        width: 940px;
        flex-wrap: wrap;
    }
    .report-ranking ul:nth-child(1), .report-ranking ul:nth-child(2) {
        margin-bottom: 20px;
    }
    p.deadline-text {
        font-size: 26px;
    }
    /*V2 responsive css*/
    body.report-v2 .report-ranking {
        width: 900px;
    }
    body.report-v2 h1.headline {
        font-size: 50px;
        padding: 25px 50px;
    }
    /*V3 responsive css*/
    body.report-v3 .report {
        flex-direction: column;
    }
    body.report-v3 .header {
        width: auto;
        height: auto;
        padding: 20px 35px;
        border-radius: 0 0 30px 30px;
        align-items: center;
    }
    body.report-v3 h1.headline {
        font-size: 52px;
        text-align: center;
    }
    body.report-v3 p.deadline-text{
        font-size: 26px;
        text-align: center;
    }
    body.report-v3 .report-ranking {
        width: 900px;
        margin: 20px 0 20px 0;
    }
    body.report-v3 .report-ranking ul {
        width: 440px;
    }
    /*V4 responsive css*/
    body.report-v4 {
        padding-top: 50px;
    }
    .report-v4 .report-ranking {
        width: 980px;
    }
    .report-v4 .header {
        width: 100%;
        padding: 0 15px;
        justify-content: center;
    }
    .report-v4 .report-ranking ul:nth-child(2) li {
        border-right: 0;
    }
    /*V5 responsive css*/
    body.report-v5 .report {
        flex-direction: column;
    }
    body.report-v5 .header {
        width: auto;
        height: auto;
        padding: 20px 35px;
        border-radius: 0 0 30px 30px;
        align-items: center;
    }
    body.report-v5 h1.headline {
        font-size: 52px;
        text-align: center;
    }
    body.report-v5 p.deadline-text{
        font-size: 26px;
        text-align: center;
    }
    body.report-v5 li.col-header p {
        margin: 0 25px 0 0;
    }
    body.report-v5 .report-ranking {
        width: 950px;
        margin: 20px 0 20px 0;
        padding: 0;
    }
    body.report-v5 .report-ranking ul {
        width: 475px;
    }
    /*V6 responsive css*/
    body.report-v6 .header {
        margin-top: 20px;
    }
    body.report-v6 .report-ranking {
        width: 900px;
    }
    body.report-v6 h1.headline {
        font-size: 50px;
        padding: 25px 50px;
    }
    /*V8 responsive css*/
    .report-v8 .report-ranking {
        width: 980px;
    }
    .report-v8 .report-ranking ul:nth-child(2) li {
        border-right: 0;
    }
    /*V9 responsive css*/
    body.report-v9 .header {
        width: 900px;
    }
    body.report-v9 .report-ranking {
        width: 900px;
    }
    body.report-v9 h1.headline {
        font-size: 50px;
        padding: 25px 50px;
    }

}

@media screen and (max-width: 1023px) {
    .report-ranking {
        width: 460px;
        flex-wrap: wrap;
    }
    .report-ranking ul:nth-child(3) {
        margin-bottom: 20px;
    }
    /*V2 responsive css*/
    body.report-v2 h1.headline {
        margin-bottom: 30px;
    }
    body.report-v2 .report-ranking {
        width: 450px;
    }
    body.report-v2 .report-ranking ul {
        width: 450px;
        padding: 0px;
    }
    body.report-v2 li.col-header p {
        font-size: 11px;
        margin: 0 55px 0 0;
    }
    body.report-v2 p.place {
        font-size: 12px;
        width: 25px;
        margin: 3px 10px 0 0;
    }
    body.report-v2 .details p.participant {
        margin: 17px 0 0 5px;
        padding: 0 10px 0 0;
        font-size: 12px;
        width: 100px;
    }
    body.report-v2 .details p.participant:after {
        height: 20px;
        right: 5px;
        top: 0;
    }
    body.report-v2 p.reports-number {
        font-size: 12px;
        height: 24px;
        margin-top: 17px;
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    body.report-v2 .progressbar {
        width: 70px;
        height: 10px;
        margin-top: 24px;
        margin-left: 20px;
    }
    body.report-v2 .progressbar:before {
        left: -15px;
        top: -6px;
    }
    body.report-v2 p.progress-percentage {
        margin: 21px 0 0 10px;
        width: 37px;
        font-size: 12px;
    }
    body.report-v2 .details:after {
        width: 10px;
        height: 10px;
        right: 15px;
        top: 28px;
    }
    /*V3 responsive css*/
    body.report-v3 .report-ranking {
        width: 300px;
    }
    body.report-v3 .report-ranking ul {
        width: 300px;
        padding: 10px 35px 10px 5px;
        margin-bottom: 20px;
    }
    body.report-v3 .details {
        flex: 1;
    }
    body.report-v3 .progressbar {
        width: auto;
        flex: 1;
    }
    /*V4 responsive css*/
    .report-v4 .report-ranking {
        width: 450px;
    }
    .report-v4 .header {
        width: 100%;
        padding: 0 15px;
        justify-content: center;
    }
    .report-v4 .report-ranking ul li {
        border-right: 0;
    }
    .report-v4 h1.headline {
        font-size: 42px;
    }
    .report-v4 p.deadline-text {
        font-size: 34px;
    }
    /*V5 responsive css*/
    body.report-v5 .header {
        padding: 15px 20px;
    }
    body.report-v5 p.deadline-text {
        font-size: 22px;
        text-align: center;
    }
    body.report-v5 h1.headline {
        font-size: 30px;
        text-align: center;
    }
    body.report-v5 .report-ranking {
        width: 300px;
    }
    body.report-v5 .report-ranking ul {
        width: 300px;
        padding: 10px 35px 10px 5px;
        margin-bottom: 20px;
    }
    body.report-v5 .details {
        flex: 1;
    }
    body.report-v5 .progressbar {
        width: auto;
        flex: 1;
    }
    /*V6 responsive css*/
    body.report-v6 .header {
        width: auto;
        margin-bottom: 30px;
        align-items: center;
        flex-direction: column;
        padding: 20px 30px;
    }
    body.report-v6 h1.headline {
        padding: 0;
        font-size: 32px;
    }
    body.report-v6 p.deadline-text {
        padding: 0 0px 0px 0;
        font-size: 26px;
    }
    body.report-v6 .report-ranking {
        width: 450px;
    }
    body.report-v6 .report-ranking ul {
        width: 450px;
        padding: 0px;
    }
    body.report-v6 li.col-header p {
        font-size: 11px;
        margin: 0 55px 0 0;
    }
    body.report-v6 p.place {
        font-size: 12px;
        width: 25px;
        margin: 3px 10px 0 0;
    }
    body.report-v6 .details p.participant {
        margin: 17px 0 0 5px;
        padding: 0 10px 0 0;
        font-size: 12px;
        width: 100px;
    }
    body.report-v6 .details p.participant:after {
        height: 20px;
        right: 5px;
        top: 0;
    }
    body.report-v6 p.reports-number {
        font-size: 12px;
        height: 24px;
        margin-top: 17px;
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    body.report-v6 .progressbar {
        width: 70px;
        height: 10px;
        margin-top: 24px;
        margin-left: 20px;
    }
    body.report-v6 .progressbar:before {
        left: -15px;
        top: -6px;
    }
    body.report-v6 p.progress-percentage {
        margin: 21px 0 0 10px;
        width: 37px;
        font-size: 12px;
    }
    body.report-v6 .details:after {
        width: 10px;
        height: 10px;
        right: 15px;
        top: 28px;
    }
    /*V8 responsive css*/
    .report-v8 .report-ranking {
        width: 450px;
        padding: 10px;
    }
    .report-v8 .report-ranking ul li {
        border-right: 0;
    }
    .report-v8 h1.headline {
        font-size: 42px;
    }
    .report-v8 p.deadline-text {
        font-size: 34px;
    }
    /*V9 responsive css*/
    body.report-v9 .header {
        width: 100%;
        margin-bottom: 30px;
        align-items: center;
        flex-direction: column;
    }
    body.report-v9 h1.headline {
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 0;
        font-size: 32px;
    }
    body.report-v9 p.deadline-text {
        padding: 0 0px 0px 0;
        font-size: 26px;
    }
    body.report-v9 .report-ranking {
        width: 450px;
    }
    body.report-v9 .report-ranking ul {
        width: 450px;
        padding: 0px;
    }
    body.report-v9 li.col-header p {
        font-size: 11px;
        margin: 0 55px 0 0;
    }
    body.report-v9 p.place {
        font-size: 12px;
        width: 25px;
        margin: 3px 10px 0 0;
    }
    body.report-v9 .details p.participant {
        margin: 17px 0 0 5px;
        padding: 0 10px 0 0;
        font-size: 12px;
        width: 100px;
    }
    body.report-v9 .details p.participant:after {
        height: 20px;
        right: 5px;
        top: 0;
    }
    body.report-v9 p.reports-number {
        font-size: 12px;
        height: 24px;
        margin-top: 17px;
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    body.report-v9 .progressbar {
        width: 70px;
        height: 10px;
        margin-top: 24px;
        margin-left: 20px;
    }
    body.report-v9 .progressbar:before {
        left: -15px;
        top: -6px;
    }
    body.report-v9 p.progress-percentage {
        margin: 21px 0 0 10px;
        width: 37px;
        font-size: 12px;
    }
    body.report-v9 .details:after {
        width: 10px;
        height: 10px;
        right: 15px;
        top: 28px;
    }
}
@media screen and (max-width: 479px) {
    h1.headline {
        font-size: 40px;
        padding: 20px 25px;
    }
    .report-ranking {
        width: 320px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .report-ranking ul {
        width: 300px;
        padding-left: 10px;
        padding-right: 10px;
    }
    li.col-header p {
        margin: 0 11px 0 0;
    }
    li.col-header p.ch-progress {
        margin: 0 11px 0 0px;
    }
    .progressbar {
        width: 30px;
    }
    p.deadline-text {
        font-size: 30px;
        padding: 25px 10px;
    }
    /*V2 responsive css*/
    body.report-v2 h1.headline {
        font-size: 34px;
        padding: 20px 35px;
    }
    body.report-v2 .report-ranking {
        width: 300px;
    }
    body.report-v2 .report-ranking ul {
        width: 300px;
        padding: 0px;
    }
    body.report-v2 li.col-header p {
        font-size: 10px;
        margin: 0 20px 0 0;
    }
    body.report-v2 p.place {
        font-size: 11px;
        width: 20px;
        margin: 3px 5px 0 0;
    }
    body.report-v2 .details {
        padding: 6px 10px;
        border-radius: 15px;
    }
    body.report-v2 .report-ranking ul li figure img {
        width: 24px;
        height: 24px;
        margin-top: 2px;
    }
    body.report-v2 .details p.participant {
        margin: 5px 0 0 5px;
        padding: 2px 6px 0 0;
        font-size: 11px;
        width: 65px;
    }
    body.report-v2 p.reports-number {
        font-size: 11px;
        height: 16px;
        margin-top: 7px;
        width: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
    body.report-v2 .progressbar {
        width: 30px;
        height: 8px;
        margin-top: 13px;
        margin-left: 10px;
    }
    body.report-v2 .progressbar:before {
        left: -8px;
        top: -5px;
    }
    body.report-v2 p.progress-percentage {
        margin: 10px 0 0 5px;
        width: 25px;
        font-size: 11px;
    }
    body.report-v2 .details:after {
        top: 18px;
    }
    body.report-v2 p.deadline-text {
        padding: 0 0 40px 0;
        font-size: 20px;
    }
    /*V4 responsive css*/
    .report-v4 .header {
        flex-direction: column;
        padding: 0 10px;
    }
    .report-v4 h1.headline {
        font-size: 32px;
    }
    .report-v4 p.deadline-text {
        font-size: 24px;
        color: #384954;
        margin: 10px 0 0 0;
        padding: 10px 0 0 0;
        border-left: 0px solid #7899B0;
        border-top: 1px solid #7899B0;
    }
    .report-v4 .report-ranking {
        width: 300px;
        padding: 10px;
    }
    .report-v4 .report-ranking ul li {
        padding: 5px;
    }
    /*V6 responsive css*/
     body.report-v6 h1.headline {
        font-size: 34px;
        padding: 0;
    }
    body.report-v6 .report-ranking {
        width: 300px;
    }
    body.report-v6 .report-ranking ul {
        width: 300px;
        padding: 0px;
    }
    body.report-v6 li.col-header p {
        font-size: 10px;
        margin: 0 20px 0 0;
    }
    body.report-v6 p.place {
        font-size: 11px;
        width: 20px;
        margin: 3px 5px 0 0;
    }
    body.report-v6 .details {
        padding: 6px 10px;
        border-radius: 15px;
    }
    body.report-v6 .report-ranking ul li figure img {
        width: 24px;
        height: 24px;
        margin-top: 2px;
    }
    body.report-v6 .details p.participant {
        margin: 5px 0 0 5px;
        padding: 2px 6px 0 0;
        font-size: 11px;
        width: 65px;
    }
    body.report-v6 p.reports-number {
        font-size: 11px;
        height: 16px;
        margin-top: 7px;
        width: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
    body.report-v6 .progressbar {
        width: 30px;
        height: 8px;
        margin-top: 13px;
        margin-left: 10px;
    }
    body.report-v6 .progressbar:before {
        left: -8px;
        top: -5px;
    }
    body.report-v6 p.progress-percentage {
        margin: 10px 0 0 5px;
        width: 25px;
        font-size: 11px;
    }
    body.report-v6 .details:after {
        top: 18px;
    }
    body.report-v6 p.deadline-text {
        padding: 0 0 0px 0;
        font-size: 20px;
    }
    /*V8 responsive css*/
    .report-v8 h1.headline {
        font-size: 32px;
    }
    .report-v8 p.deadline-text {
        font-size: 24px;
    }
    .report-v8 .report-ranking {
        width: 300px;
        padding: 5px;
    }
    .report-v8 .report-ranking ul li {
        padding: 5px;
    }
    /*V9 responsive css*/
     body.report-v9 h1.headline {
        font-size: 34px;
        padding: 0;
    }
    body.report-v9 .report-ranking {
        width: 300px;
    }
    body.report-v9 .report-ranking ul {
        width: 300px;
        padding: 0px;
    }
    body.report-v9 li.col-header p {
        font-size: 10px;
        margin: 0 20px 0 0;
    }
    body.report-v9 p.place {
        font-size: 11px;
        width: 20px;
        margin: 3px 5px 0 0;
    }
    body.report-v9 .details {
        padding: 6px 10px;
        border-radius: 15px;
    }
    body.report-v9 .report-ranking ul li figure img {
        width: 24px;
        height: 24px;
        margin-top: 2px;
    }
    body.report-v9 .details p.participant {
        margin: 5px 0 0 5px;
        padding: 2px 6px 0 0;
        font-size: 11px;
        width: 65px;
    }
    body.report-v9 p.reports-number {
        font-size: 11px;
        height: 16px;
        margin-top: 7px;
        width: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
    body.report-v9 .progressbar {
        width: 30px;
        height: 8px;
        margin-top: 13px;
        margin-left: 10px;
    }
    body.report-v9 .progressbar:before {
        left: -8px;
        top: -5px;
    }
    body.report-v9 p.progress-percentage {
        margin: 10px 0 0 5px;
        width: 25px;
        font-size: 11px;
    }
    body.report-v9 .details:after {
        top: 18px;
    }
    body.report-v9 p.deadline-text {
        padding: 0 0 0px 0;
        font-size: 20px;
    }
}