@font-face {
    font-family: 'Makuton';
    src: url('../fonts/Makuton.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background-image: url(../images/body-bg-japanese.jpg);
    font-family: 'Makuton';
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    background-position: center;
}
.leaderboard {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 1080px;
}
h1.headline {
    margin: 100px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 108px;
    padding: 0;
    color: #000000;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1;
    max-width: 1200px;
}
p.subheadline {
    max-width: 900px;
    margin: 60px auto 80px auto;
    font-size: 35px;
    color: #DA413F;
    font-style: italic;
    line-height: 1.5;
    max-height: 100px;
    overflow: hidden;
}
.content {
    width: 1400px;
}
.content-top {
    display: flex;
    justify-content: center;
}
.content figure {
    margin: 0;
    padding: 0;
}
.content figure img {
    margin: 0;
    padding: 0;
    width: 299px;
    height: 299px;
    object-fit: cover;
    object-position: top;
    display: block;
    border-radius: 50%;
    border: 10px solid #000;
}
p.figure-title {
    margin: 0 0 0 70px;
    color: #000000;
    font-size: 138px;
    line-height: 1.1;
    max-height: 300px;
    overflow: hidden;
    max-width: 802px;
    text-align: left;
}
.content-bottom {
    margin-top: 70px;
}
p.content-text {
    font-size: 72px;
    max-height: 162px;
    margin: 0;
    overflow: hidden;
    letter-spacing: 1px;
    padding: 0 50px;
}
p.content-text span {
    position: relative;
    color: #DA413F;
}
span.quote-sign:before {
    position: absolute;
    content: '"';
    width: 30px;
    height: 30px;
    left: -45px;
    top: 65px;
    font-size: 130px;
    color: #DA413F;
    transform: rotate(180deg);
    font-weight: 100;
}
/*=================================
Responsive CSS
==================================*/

@media screen and (max-width: 1900px) {
    .content {
        flex-direction: column;
        width: 840px;
        height: auto;
        background-image: none;
    }
    .content figure img {
        position: relative;
        left: inherit;
        top: inherit;
        margin: 0 auto;
    }
    p.content-text {
        font-size: 36px;
        max-width: 100%;
        max-height: inherit;
        margin: 30px 0 0 0;
    }
    p.figure-title {
        margin: 30px 0 0 0;
        font-size: 36px;
        max-height: inherit;
    }
}

@media screen and (max-width: 1023px) {
    h1.headline {
        overflow: auto;
        text-overflow: initial;
        white-space: initial;
        font-size: 52px;
        width: 95%;
        margin: 0 auto;
    }
    .content {
        width: 100%;
    }
    .content figure img {
        width: 265px;
        height: 265px;
        margin: 0 auto;
    }
    p.subheadline {
        max-width: 95%;
        margin: 40px auto 40px auto;
        max-height: inherit;
        overflow: hidden;
    }
    .content-top {
        flex-direction: column;
        align-items: center;
    }
}