/*Font*/
@font-face {
    font-family: 'ArchivoExtraBold';
    src: url('../fonts/ArchivoExtraBold.eot');
    src: url('../fonts/ArchivoExtraBold.eot') format('embedded-opentype'),
         url('../fonts/ArchivoExtraBold.woff2') format('woff2'),
         url('../fonts/ArchivoExtraBold.woff') format('woff'),
         url('../fonts/ArchivoExtraBold.ttf') format('truetype'),
         url('../fonts/ArchivoExtraBold.svg#ArchivoExtraBold') format('svg');
}

/*pumpkin css*/
body.report-pinkMountain {
    background-image: url(../images/body-bg-pinkMountain.jpg);
    font-family: 'ArchivoExtraBold';
}
body.report-pinkMountain h1.headline {
    font-size: 50px;
    padding: 90px 0 30px 0;
    font-family: 'ArchivoExtraBold';
    color: #ffffff;
    text-align: center;
    background: transparent;
    border-radius: 0;
    position: relative;
    border-radius: 15px;
    letter-spacing: 6px;
    font-weight: 100;
}
body.report-pinkMountain h1.headline span {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;    
    display: block;
    max-width: 1550px;
}
body.report-pinkMountain .report {
    justify-content: start;
}
body.report-pinkMountain .report-ranking {
    margin: 50px 0;
}
body.report-pinkMountain .report-ranking ul {
    background: transparent;
    border-radius: 0px;
    padding: 0;
}
body.report-pinkMountain .report-ranking ul li {
    background: #FFF;
    padding-top: 9px;
    padding-bottom: 9px;
}
body.report-pinkMountain .report-ranking ul li.col-header {
    background: transparent;
}
body.report-pinkMountain li.col-header p {
    font-size: 13px;
    color: #ffffff;
    font-family: 'ArchivoExtraBold';
    font-weight: 600;
    text-transform: capitalize;
}
body.report-pinkMountain p.place {
    font-family: 'ArchivoExtraBold';
    color: #221F23;
}
body.report-pinkMountain .details p.participant {
    font-family: 'ArchivoExtraBold';
    color: #7322C1;
}
body.report-pinkMountain .report-ranking ul li figure img {
    width: 28px;
    height: 28px;
}
body.report-pinkMountain p.reports-number {
    color: #490E7F;
    border-bottom-color: #221F23;
}
body.report-pinkMountain .progressbar-inner {
    background: #F4CA4D;
    background: -webkit-linear-gradient( 45deg, #F4CA4D, #D839CC 100%);
}
body.report-pinkMountain p.progress-percentage {
    font-family: 'ArchivoExtraBold';
    color: #490E7F;
}
body.report-pinkMountain p.deadline-text {
    font-size: 50px;
    font-family: 'ArchivoExtraBold';
    padding: 45px 10px;
    width: auto;
    color: #ffffff;
    background: transparent;
    position: relative;
    max-width: 1800px;
    letter-spacing: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;    
    display: block;
}
/*===================================
Animation CSS#ffffff
====================================*/
p.place, p.total {
    position: relative;
    animation-name: totalNumber;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes totalNumber {
    0%   {transform: scale(.4)}
    50%  {transform: scale(.6)}
    100% {transform: scale(1)}
}

/*=================================
Responsive CSS
==================================*/

@media screen and (min-width: 1901px) {
    body.report-pinkMountain li.col-header p {
        margin: 0 25px 0 0;
    } 
    body.report-pinkMountain li.col-header p.ch-progress {
        margin-left: 45px;
    }
    body.report-pinkMountain p.place {
        font-size: 15px;
    }
    body.report-pinkMountain .details p.participant {
        font-size: 16px;
        font-weight: 600;
        margin-left: 0px!important;
        width: 100px;
        max-height: 29px;
    }
    body.report-pinkMountain p.participant span {
        max-height: 29px;
    }
    body.report-pinkMountain p.reports-number {
        font-size: 16px;
        height: 22px;
        margin-top: 4px;
        margin-right: 25px;
        font-weight: 600;
    }
    body.report-pinkMountain p.progress-percentage {
        margin: 4px 5px 0 10px;
        font-size: 16px;
        font-weight: 600;
    }  
}
@media screen and (max-width: 1900px) {
    body.report-pinkMountain h1.headline {
        font-size: 38px;
    }
    body.report-pinkMountain h1.headline span {
        text-overflow: inherit;
        white-space: inherit;
        text-align: center;
        overflow: inherit;
    }
    body.report-pinkMountain h1.headline:after {
        display: none;
    }
    body.report-pinkMountain p.deadline-text {
        font-size: 20px;
        letter-spacing: 3px;
        text-overflow: inherit;
        white-space: inherit;
        text-align: center;
        overflow: inherit;
    }
}

@media screen and (max-width: 1023px) {

}
@media screen and (max-width: 479px) {

    
}