@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/InterRegular.eot');
    src: url('../fonts/InterRegular.eot') format('embedded-opentype'),
         url('../fonts/InterRegular.woff2') format('woff2'),
         url('../fonts/InterRegular.woff') format('woff'),
         url('../fonts/InterRegular.ttf') format('truetype'),
         url('../fonts/InterRegular.svg#InterRegular') format('svg');
}
@font-face {
    font-family: 'InterBlack';
    src: url('../fonts/InterBlack.eot');
    src: url('../fonts/InterBlack.eot') format('embedded-opentype'),
         url('../fonts/InterBlack.woff2') format('woff2'),
         url('../fonts/InterBlack.woff') format('woff'),
         url('../fonts/InterBlack.ttf') format('truetype'),
         url('../fonts/InterBlack.svg#InterBlack') format('svg');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('../fonts/RobotoMedium.woff2') format('woff2'),
         url('../fonts/RobotoMedium.woff') format('woff'),
         url('../fonts/RobotoMedium.ttf') format('truetype'),
         url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold.woff2') format('woff2'),
         url('../fonts/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold.ttf') format('truetype'),
         url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/RobotoBlack.eot');
    src: url('../fonts/RobotoBlack.eot') format('embedded-opentype'),
         url('../fonts/RobotoBlack.woff2') format('woff2'),
         url('../fonts/RobotoBlack.woff') format('woff'),
         url('../fonts/RobotoBlack.ttf') format('truetype'),
         url('../fonts/RobotoBlack.svg#RobotoBlack') format('svg');
}
@font-face {
    font-family: 'FuturaPTHeavy';
    src: url('../fonts/FuturaPTHeavy.eot');
    src: url('../fonts/FuturaPTHeavy.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTHeavy.woff2') format('woff2'),
         url('../fonts/FuturaPTHeavy.woff') format('woff'),
         url('../fonts/FuturaPTHeavy.ttf') format('truetype'),
         url('../fonts/FuturaPTHeavy.svg#FuturaPTHeavy') format('svg');
}
@font-face {
    font-family: 'FuturaPTDemi';
    src: url('../fonts/FuturaPTDemi.eot');
    src: url('../fonts/FuturaPTDemi.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTDemi.woff2') format('woff2'),
         url('../fonts/FuturaPTDemi.woff') format('woff'),
         url('../fonts/FuturaPTDemi.ttf') format('truetype'),
         url('../fonts/FuturaPTDemi.svg#FuturaPTDemi') format('svg');
}
@font-face {
    font-family: 'FuturaPTBold';
    src: url('../fonts/FuturaPTBold.eot');
    src: url('../fonts/FuturaPTBold.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTBold.woff2') format('woff2'),
         url('../fonts/FuturaPTBold.woff') format('woff'),
         url('../fonts/FuturaPTBold.ttf') format('truetype'),
         url('../fonts/FuturaPTBold.svg#FuturaPTBold') format('svg');
}
@font-face {
    font-family: 'FuturaPTLight';
    src: url('../fonts/FuturaPTLight.eot');
    src: url('../fonts/FuturaPTLight.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTLight.woff2') format('woff2'),
         url('../fonts/FuturaPTLight.woff') format('woff'),
         url('../fonts/FuturaPTLight.ttf') format('truetype'),
         url('../fonts/FuturaPTLight.svg#FuturaPTLight') format('svg');
}
@font-face {
    font-family: 'baloo_da_2bold';
    src: url('../fonts/balooda2-bold-webfont.eot');
    src: url('../fonts/balooda2-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balooda2-bold-webfont.woff2') format('woff2'),
         url('../fonts/balooda2-bold-webfont.woff') format('woff'),
         url('../fonts/balooda2-bold-webfont.ttf') format('truetype'),
         url('../fonts/balooda2-bold-webfont.svg#baloo_da_2bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'baloo_da_2medium';
    src: url('../fonts/balooda2-medium-webfont.eot');
    src: url('../fonts/balooda2-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balooda2-medium-webfont.woff2') format('woff2'),
         url('../fonts/balooda2-medium-webfont.woff') format('woff'),
         url('../fonts/balooda2-medium-webfont.ttf') format('truetype'),
         url('../fonts/balooda2-medium-webfont.svg#baloo_da_2medium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'digital-7_monomono';
    src: url('../fonts/digital-7_mono-webfont.eot');
    src: url('../fonts/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7_mono-webfont.woff2') format('woff2'),
         url('../fonts/digital-7_mono-webfont.woff') format('woff'),
         url('../fonts/digital-7_mono-webfont.ttf') format('truetype'),
         url('../fonts/digital-7_mono-webfont.svg#digital-7_monomono') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'AmericanTypewriterBold';
    src: url('../fonts/AmericanTypewriterBold.eot');
    src: url('../fonts/AmericanTypewriterBold.eot') format('embedded-opentype'),
         url('../fonts/AmericanTypewriterBold.woff2') format('woff2'),
         url('../fonts/AmericanTypewriterBold.woff') format('woff'),
         url('../fonts/AmericanTypewriterBold.ttf') format('truetype'),
         url('../fonts/AmericanTypewriterBold.svg#AmericanTypewriterBold') format('svg');
}
@font-face {
    font-family: 'AmericanTypewriterRegular';
    src: url('../fonts/AmericanTypewriterRegular.eot');
    src: url('../fonts/AmericanTypewriterRegular.eot') format('embedded-opentype'),
         url('../fonts/AmericanTypewriterRegular.woff2') format('woff2'),
         url('../fonts/AmericanTypewriterRegular.woff') format('woff'),
         url('../fonts/AmericanTypewriterRegular.ttf') format('truetype'),
         url('../fonts/AmericanTypewriterRegular.svg#AmericanTypewriterRegular') format('svg');
}
@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/oswald-bold-webfont.eot');
    src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold-webfont.woff2') format('woff2'),
         url('../fonts/oswald-bold-webfont.woff') format('woff'),
         url('../fonts/oswald-bold-webfont.ttf') format('truetype'),
         url('../fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswald_regularregular';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#oswald_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LilitaOneRegular';
    src: url('../fonts/LilitaOneRegular.eot');
    src: url('../fonts/LilitaOneRegular.eot') format('embedded-opentype'),
         url('../fonts/LilitaOneRegular.woff2') format('woff2'),
         url('../fonts/LilitaOneRegular.woff') format('woff'),
         url('../fonts/LilitaOneRegular.ttf') format('truetype'),
         url('../fonts/LilitaOneRegular.svg#LilitaOneRegular') format('svg');
}
@font-face {
    font-family: 'kg_broken_vessels_sketchRg';
    src: url('../fonts/kgbrokenvesselssketch-webfont.eot');
    src: url('../fonts/kgbrokenvesselssketch-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kgbrokenvesselssketch-webfont.woff2') format('woff2'),
         url('../fonts/kgbrokenvesselssketch-webfont.woff') format('woff'),
         url('../fonts/kgbrokenvesselssketch-webfont.ttf') format('truetype'),
         url('../fonts/kgbrokenvesselssketch-webfont.svg#kg_broken_vessels_sketchRg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;

}
@font-face {
    font-family: 'MagicalWorld';
    src: url('../fonts/MagicalWorld.eot');
    src: url('../fonts/MagicalWorld.eot') format('embedded-opentype'),
         url('../fonts/MagicalWorld.woff2') format('woff2'),
         url('../fonts/MagicalWorld.woff') format('woff'),
         url('../fonts/MagicalWorld.ttf') format('truetype'),
         url('../fonts/MagicalWorld.svg#MagicalWorld') format('svg');
}
@font-face {font-family: "AcuminProCond-Bold";
    src: url("../fonts/AcuminProCond-Bold.eot"); /* IE9*/
    src: url("../fonts/AcuminProCond-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/AcuminProCond-Bold.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/AcuminProCond-Bold.woff") format("woff"), /* chrome、firefox */
    url("../fonts/AcuminProCond-Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/AcuminProCond-Bold.svg#AcuminProCond-Bold") format("svg"); /* iOS 4.1- */
  }
  @font-face {
    font-family: 'Acumin Variable Concept';
    src: url('../fonts/AcuminVariableConcept.eot');
    src: url('../fonts/AcuminVariableConcept.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AcuminVariableConcept.woff2') format('woff2'),
         url('../fonts/AcuminVariableConcept.woff') format('woff'),
         url('../fonts/AcuminVariableConcept.ttf')  format('truetype'),
         url('../fonts/AcuminVariableConcept.svg#Acumin Variable Concept') format('svg');
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'InterRegular';
    background-image: url(../images/body-bg-v1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}
.report {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 1080px;
}
h1.headline {
    margin: 0;
    font-size: 86px;
    padding: 40px 250px;
    border-radius: 0 0 30px 30px;
    background: rgb(255,255,255);
    background: linear-gradient( 90deg, rgba(255,255,255,1) 0%, #D1D3D4 100%);
    color: #779BB1;
    font-family: 'InterBlack';
}
.report-ranking {
    display: flex;
    width: 1880px;
    justify-content: space-between;
    margin: 53.5px 0;
}
.report-ranking ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 25px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,231,232,1) 100%);
    width: 460px;
    border-radius: 20px;
}
.report-ranking ul li {
    display: flex;
    margin-bottom: 14px;
    border-radius: 17px;
    padding: 0;
    width: 100%;
    justify-content: start;
    align-items: center;
    border: 1px solid #DBDDDD;
    padding-top: 8px;
    padding-bottom: 8px;
}
li.col-header {
    text-transform: uppercase;
    border-left: 0px!important;
    border-right: 0px!important;
    border-top: 0px!important;
    border-radius: 0!important;
    margin-bottom: 12px!important;
}
li.col-header p {
    font-size: 11px;
    margin: 0 15px 0 0;
    color: #535556;
}
li.col-header p.ch-progress {
    margin: 0 15px 0 22px;
}
.report-ranking ul li:last-child {
    margin-bottom: 0px;
}
p.place {
    font-size: 12px;
    margin: 0;
    width: 30px;
    padding: 0;
    color: #1A262B;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
}
.report-ranking ul li figure {
    margin: 0 10px 0 0;
    padding: 0;
}
.report-ranking ul li figure img {
    margin: 0;
    padding: 0;
}
.report-ranking ul li figure img {
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    object-fit: contain;
    object-position: center;
    display: block;
    border-radius: 50%;
}
.details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 12px;
    position: relative;
}
.details:after {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    right: -25px;
    top: 5px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.details p.participant {
    text-align: left;
    margin: 5px 0 0 0;
    width: 77px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    font-family: 'InterBlack';
    color: #1A262B;
}
p.reports-number {
    margin: 5px 10px 0 0;
    color: #506A78;
    border-bottom: 1px solid #506A78;
    padding: 0;
    height: 16px;
    width: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.progressbar {
    position: relative;
    background: #D7DEE8;
    width: 160px;
    height: 8px;
    border-radius: 20px;
    margin-top: 9px;
}
.progressbar-inner {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background: #94AFC1;
    border-radius: 20px;
}
p.progress-percentage {
    font-family: 'InterBlack';
    margin: 5px 0 0 10px;
    color: #506A78;
    display: flex;
    padding: 0;
    height: auto;
    width: 26px;
}

p.deadline-text {
    text-transform: uppercase;
    font-size: 33px;
    font-family: 'InterBlack';
    margin: 0;
    padding: 45px 0;
    width: 100%;
    display: block;
    color: #2A3D45;
    background: rgb(255,255,255);
    background: linear-gradient( 90deg, rgba(255,255,255,1) 0%, #D1D3D4 100%);
}


/*===================================
Version Specific CSS
====================================*/
/* The defualt version is #1*/

/*Pool css*/
body.report-pool {
    background-image: url(../images/body-bg-pool.jpg);
    font-family: 'baloo_da_2bold';
}
body.report-pool h1.headline {
    font-size: 85px;
    padding: 45px 20px 0px 20px;
    font-family: 'baloo_da_2bold';
    background: -webkit-linear-gradient(45deg, #21bdd7, #0a4a70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body.report-pool .report-ranking {
    margin: 0px 0 20px 0;
}
body.report-pool .report-ranking ul {
    background: transparent;
    border-radius: 0px;
    padding: 0;
}
body.report-pool .report-ranking ul li {
    background: #FFF;
    padding-top: 9px;
    padding-bottom: 9px;
}
body.report-pool .report-ranking ul li.col-header {
    background: transparent;
}
body.report-pool li.col-header p {
    font-size: 12px;
    color: #091E27;
    font-family: 'baloo_da_2medium';
    font-weight: 600;
}
body.report-pool .details p.participant {
    font-family: 'baloo_da_2bold';
    color: #2A1C23;
}
body.report-pool .report-ranking ul li figure img {
    width: 28px;
    height: 28px;
}
body.report-pool p.reports-number {
    color: #2A1C23;
}
body.report-pool p.deadline-text {
    font-size: 44px;
    font-family: 'baloo_da_2bold';
    padding: 130px 20px 10px 20px;
    width: 100%;
    color: #005E90;
    background: transparent;
}
body.report-pool .progressbar-inner {
    background: #21bdd7;
    background: -webkit-linear-gradient( 45deg, #21bdd7, #0a4a70 100%);
}
body.report-pool p.progress-percentage {
    font-family: 'baloo_da_2bold';
    color: #2A1C23;
}
/*Basketball css*/
body.report-basketball {
    background-image: url(../images/body-bg-basketball.jpg);
    font-family: 'digital-7_monomono';
}
body.report-basketball .report {
    justify-content: start;
}
body.report-basketball h1.headline {
    margin: 0;
    font-size: 70px;
    font-weight: 100;
    padding: 130px 0 0 0;
    border-radius: 0;
    background: url(../images/header-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: #EED358;
    font-family: 'digital-7_monomono';
    width: 700px;
    height: 233px;
}
body.report-basketball .report-ranking {
    margin: -5px 0 0 0;
    background: #316D85;
    position: relative;
    padding: 20px 30px 50px 30px;
    border-radius: 20px;
}
body.report-basketball .report-ranking ul {
    margin: 0;
    padding: 15px;
    background: transparent;
    width: 460px;
    border-radius: 20px;
    z-index: 10;
}
body.report-basketball .report-ranking ul li {
    border: 0px solid #DBDDDD;
    background: #3b7b93;
}
body.report-basketball .report-ranking ul li.col-header {
    border-bottom: 1px solid #478ea9;
    background: transparent;
}
body.report-basketball .report-ranking ul li.col-header p {
    font-size: 14px;
    color: #EED358;
}
body.report-basketball .report-ranking ul li p.place {
    color: #ffffff;
}
body.report-basketball .details p.participant {
    margin: 0;
    color: #ffffff;
    font-family: 'digital-7_monomono';
    max-height: 33px;
}
body.report-basketball .details p.participant span {
    max-height: 34px;
}
body.report-basketball p.reports-number {
    color: #EED358;
    font-family: 'digital-7_monomono';
}
body.report-basketball .progressbar {
    background: #141735;
}
body.report-basketball .progressbar-inner {
    background: #F43C5B;
}
body.report-basketball p.progress-percentage {
    color: #EED358;
    font-family: 'digital-7_monomono';
}
body.report-basketball p.deadline-text {
    text-transform: uppercase;
    font-size: 40px;
    margin: -45px 0 0 0;
    padding: 20px 60px;
    width: auto;
    color: #EED358;
    background: #141735;
    font-family: 'digital-7_monomono';
    border-radius: 10px;
    font-weight: 100;
    z-index: 10;
}
/*Golf css*/
body.report-golf {
    background-image: url(../images/body-bg-golf.jpg);
    font-family: 'oswaldbold';
}
body.report-golf .header {
    border-radius: 0 20px 20px 0;
    width: 420px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0;
}
body.report-golf .report {
    flex-direction: row-reverse;
    justify-content: start;
}
body.report-golf h1.headline {
    margin: 0;
    font-size: 128px;
    padding: 50px 0 0 0;
    background: none;
    color: #568232;
    font-weight: 100;
    border-radius: 0;
    text-align: left;
    font-family: 'oswaldbold';
}
body.report-golf p.deadline-text {
    font-weight: 100!important;
    margin: 15px 0 0 0;
    padding: 0;
    width: auto;
    text-align: left;
    display: block;
    color: #ffffff;
    background: none;
    font-family: 'oswaldbold';
    font-size: 44px;
}
body.report-golf .report-ranking {
    display: flex;
    width: 1230px;
    justify-content: space-between;
    margin: 20px 30px 20px 100px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
body.report-golf .report-ranking ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 25px;
    background: transparent;
    width: 605px;
    border-radius: 10px;
}
body.report-golf .report-ranking ul li {
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0px solid #DBDDDD;
    background: white;
    margin-bottom: 2px;
}
body.report-golf li.col-header {
    background: none!important;
    border-bottom: 1px solid #7bc2d1!important;
}
body.report-golf li.col-header p {
    color: #2A1C23;
    font-weight: 600;
    font-family: 'oswald_regularregular';
}
body.report-golf p.place {
    color: #2A1C23;
    font-family: 'oswald_regularregular';
    font-weight: 100;
}
body.report-golf .details p.participant {
    color: #2A1C23;    
    font-family: 'oswald_regularregular';
    text-transform: uppercase;
}
body.report-golf p.reports-number {
    color: #2A1C23;
    font-family: 'oswald_regularregular';
}
body.report-golf .progressbar {
    background: #DA4311;
    height: 10px;
    margin-top: 7px;
}
body.report-golf .progressbar-inner {
    background: #FF9724;
}
body.report-golf p.progress-percentage {
    color: #2A1C23;
    font-family: 'oswald_regularregular';
    width: 30px;
}
body.report-golf .details:after {
    top: 4px;
}
/*Newyork css*/
body.report-newyork {
    background-image: url(../images/body-bg-newyork.jpg);
    font-family: 'AmericanTypewriterBold';
}
body.report-newyork .header {
    border-radius: 0;
    width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0;
}
body.report-newyork .report {
    flex-direction: row;
    justify-content: center;
}
body.report-newyork p.deadline-text {
    font-weight: 600;
    margin: 20px 0 0 0;
    padding: 0;
    width: auto;
    text-align: right;
    display: block;
    color: #ffffff;
    background: none;
    font-family: 'AmericanTypewriterBold';
    font-size: 29px;
    text-transform: inherit;
}
body.report-newyork .report-ranking {
    display: flex;
    width: 1300px;
    justify-content: space-between;
    margin: 20px 30px 20px 100px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
body.report-newyork .report-ranking ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: transparent;
    width: 615px;
    border-radius: 10px;
    padding: 0;
}
body.report-newyork .report-ranking ul li {
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0px solid #DBDDDD;
    background: white;
    margin-bottom: 2px;
}
body.report-newyork li.col-header {
    background: none!important;
    border-bottom: 1px solid #7bc2d1!important;
}
body.report-newyork li.col-header p {
    color: #ffffff;
    font-size: 20px;
    font-family: 'AmericanTypewriterRegular';
    font-weight: 600;
}
body.report-newyork p.place {
    color: #4772AF;
    font-family: 'AmericanTypewriterBold';
    font-weight: 100;
}
body.report-newyork .details p.participant {
    color: #4772AF;
    font-family: 'AmericanTypewriterRegular';
    text-transform: uppercase;
}
body.report-newyork p.reports-number {
    color: #4772AF;
    font-family: 'AmericanTypewriterBold';
}
body.report-newyork .progressbar {
    background: #D1CFD3;
    height: 10px;
    margin-top: 7px;
}
body.report-newyork .progressbar-inner {
    background: #4671AF;
}
body.report-newyork p.progress-percentage {
    color: #4772AF;
    font-family: 'AmericanTypewriterBold';
    width: 30px;
}
body.report-newyork .details:after {
    top: 4px;
}
/* Desert CSS*/
body.report-desert {
    background-image: url(../images/body-bg-desert.jpg);
    font-family: 'LilitaOneRegular';
}
body.report-desert .report {
    justify-content: start;
}
body.report-desert h1.headline {
    font-size: 68px;
    padding: 95px 15px 0 15px;
    background: transparent;
    color: #503204;
    font-family: 'LilitaOneRegular';
    font-weight: 100;
    width: 675px;
    height: 224px;
    background-image: url(../images/desert-headline-bg.png);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
body.report-desert .report-ranking {
    margin: 5px 0;
    width: 1700px;
}
body.report-desert p.deadline-text {
    color: #ffffff;
    background: transparent;
    padding: 0 0 40px 0;
}
body.report-desert .report-ranking ul {
    background: none;
    width: 850px;
    border-radius: 20px;
}
body.report-desert .report-ranking ul li {
    border: 0px;
    padding: 0;
    margin-bottom: 5px;
}
body.report-desert li.col-header {
    padding-bottom: 15px!important;
    margin-bottom: 15px!important;
}
body.report-desert li.col-header p {
    font-size: 20px;
    margin: 0 60px 0 0;
    color: #ffffff;
}
body.report-desert .details {
    flex: 1;
    padding: 6px 15px;
    border-radius: 15px;
    background-image: url(../images/desert-details-bg.png);
    background-repeat: no-repeat;
    -webkit-box-shadow: 4px 4px 0px -2px #363636; 
    box-shadow: 4px 4px 0px -2px #363636;
}
body.report-desert p.place {
    font-size: 20px;
    color: #ffffff;
    width: 40px;
    text-align: center;
    margin: 3px 10px 0 0;
}
body.report-desert .report-ranking ul li figure img {
    width: 54px;
    height: 54px;
}
body.report-desert .details p.participant {
    margin: 17px 0 0 10px;
    padding: 0 20px 0 0;
    font-size: 18px;
    width: 170px;
    position: relative;
    color: #2A1C23;
}
body.report-desert p.reports-number {
    color: #2A1C23;
    font-family: 'LilitaOneRegular';
    font-size: 18px;
    height: 24px;
    margin-top: 17px;
    width: 40px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 0px;
}
body.report-desert .progressbar {
    background: #DF8627;
    height: 12px;
    border-radius: 20px;
    margin-top: 24px;
    margin-left: 50px;
    position: relative;
}
body.report-desert .progressbar-inner {
    background: #5C7202;
}
body.report-desert p.progress-percentage {
    margin: 18px 0 0 35px;
    color: #2A1C23;
    width: 52px;
    font-size: 18px;
}
body.report-desert .details:after {
    width: 18px;
    height: 18px;
    right: 20px;
    top: 24px;
}
/* School CSS*/
body.report-school {
    background-image: url(../images/body-bg-school.jpg);
    font-family: 'kg_broken_vessels_sketchRg', Sans-Serif;
}
body.report-school .report {
    justify-content: start;
}
body.report-school h1.headline {
    font-size: 82px;
    padding: 90px 15px 0 15px;
    background: transparent;
    color: #ffffff;
    font-family: 'kg_broken_vessels_sketchRg', Sans-Serif;
    font-weight: 100;
    border-radius: 0;
}
body.report-school .report-ranking {
    margin: 5px 0;
    width: 1640px;
}
body.report-school p.deadline-text {
    color: #ffffff;
    background: transparent;
    padding: 58px 0 10px 0;
    font-family: 'kg_broken_vessels_sketchRg', Sans-Serif;
    font-size: 24px;
}
body.report-school .report-ranking ul {
    background: none;
    width: 820px;
    border-radius: 20px;
    padding: 0 25px;
}
body.report-school .report-ranking ul li {
    border: 0px;
    padding: 0;
    margin-bottom: 5px;
}
body.report-school li.col-header {
    padding-bottom: 15px!important;
    margin-bottom: 15px!important;
    border-bottom: 1px solid #FFF!important;
}
body.report-school li.col-header p {
    font-size: 20px;
    margin: 0 60px 0 0;
    color: #ffffff;
}
body.report-school .details {
    flex: 1;
    padding: 6px 15px;
    border-radius: 15px;
}
body.report-school p.place {
    font-size: 20px;
    color: #ffffff;
    width: 40px;
    text-align: center;
    margin: 3px 10px 0 0;
}
body.report-school .report-ranking ul li figure img {
    width: 54px;
    height: 54px;
}
body.report-school .details p.participant {
    margin: 17px 0 0 10px;
    padding: 0 20px 0 0;
    font-size: 18px;
    width: 170px;
    position: relative;
    color: #ffffff;
    font-family: 'kg_broken_vessels_sketchRg', Sans-Serif;
}
body.report-school p.reports-number {
    color: #ffffff;
    font-family: 'kg_broken_vessels_sketchRg', Sans-Serif;
    font-size: 18px;
    height: 24px;
    margin-top: 17px;
    width: 40px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 0px;
}
body.report-school .progressbar {
    background: transparent;
    height: 12px;
    border-radius: 20px;
    margin-top: 24px;
    margin-left: 50px;
    position: relative;
    border: 1px solid #afafaf;
}
body.report-school .progressbar-inner {
    background: url(../images/school-progress-patern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
body.report-school p.progress-percentage {
    margin: 18px 0 0 35px;
    color: #ffffff;
    width: 52px;
    font-size: 18px;
    font-family: 'kg_broken_vessels_sketchRg', Sans-Serif;
}
body.report-school .details:after {
    width: 18px;
    height: 18px;
    right: 20px;
    top: 24px;
}
/*Magic css*/
body.report-magic {
    background-image: url(../images/body-bg-magic.jpg);
    font-family: 'MagicalWorld';
}
body.report-magic h1.headline {
    font-size: 101px;
    padding: 45px 20px 0px 20px;
    font-family: 'MagicalWorld';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff84f5;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: #ff84f5;
    text-shadow: -11px 7px 2px #000000;
    background: none;
    border-radius: 0;
    position: relative;
}
body.report-magic h1.headline span {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;    
    display: block;
    max-width: 1550px;
}
body.report-magic h1.headline:before {
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    left: -90px;
    top: 50px;
    background-image: url(../images/magic-star-left.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
body.report-magic h1.headline:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    right: -90px;
    top: 50px;
    background-image: url(../images/magic-star-left.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
body.report-magic .report {
    justify-content: start;
}
body.report-magic .report-ranking {
    margin: 50px 0;
}
body.report-magic .report-ranking ul {
    background: transparent;
    border-radius: 0px;
    padding: 0;
}
body.report-magic .report-ranking ul li {
    background: transparent;
    padding-top: 9px;
    padding-bottom: 9px;
}
body.report-magic .report-ranking ul li.col-header {
    background: transparent;
}
body.report-magic li.col-header p {
    font-size: 14px;
    color: #ffffff;
    font-family: 'MagicalWorld';
}
body.report-magic p.place {
    font-family: 'MagicalWorld';
    color: #fff;
}
body.report-magic .details p.participant {
    font-family: 'MagicalWorld';
    color: #fff;
    text-transform: uppercase;
}
body.report-magic .report-ranking ul li figure img {
    width: 28px;
    height: 28px;
}
body.report-magic p.reports-number {
    color: #fff;
}
body.report-magic p.deadline-text {
    font-size: 36px;
    font-family: 'MagicalWorld';
    padding: 20px 10px;
    width: auto;
    color: #ffffff;
    background: transparent;
    position: relative;
    max-width: 800px;
}
body.report-magic p.deadline-text::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    left: -40px;
    top: 25px;
    background-image: url(../images/history.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
body.report-magic .progressbar-inner {
    background: #21bdd7;
    background: -webkit-linear-gradient( 45deg, #CD62FB, #21bdd7 100%);
}
body.report-magic p.progress-percentage {
    font-family: 'MagicalWorld';
    color: #fff;
}
/*Winter css*/
body.report-winter {
    background-image: url(../images/body-bg-winter.jpg);
    font-family: 'Acumin Variable Concept';
}
body.report-winter h1.headline {
    font-size: 91px;
    padding: 0px 50px;
    font-family: "AcuminProCond-Bold";
    color: #ffffff;
    text-align: center;
    background: #0E72E3;
    border-radius: 0;
    position: relative;
    border-radius: 15px;
    margin-top: 90px;
    -webkit-box-shadow: 4px 4px 0px 1px #b4d7ff73;
    box-shadow: 4px 4px 0px 1px #b4d7ff73;
    letter-spacing: 5px;
}
body.report-winter h1.headline span {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;    
    display: block;
    max-width: 1550px;
}
body.report-winter .report {
    justify-content: start;
}
body.report-winter .report-ranking {
    margin: 50px 0;
}
body.report-winter .report-ranking ul {
    background: transparent;
    border-radius: 0px;
    padding: 0;
}
body.report-winter .report-ranking ul li {
    background: #FFF;
    padding-top: 9px;
    padding-bottom: 9px;
}
body.report-winter .report-ranking ul li.col-header {
    background: transparent;
}
body.report-winter li.col-header p {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Acumin Variable Concept';
    font-weight: 600;
    text-transform: capitalize;
}
body.report-winter p.place {
    font-family: 'Acumin Variable Concept';
    color: #0F1319;
}
body.report-winter .details p.participant {
    font-family: 'Acumin Variable Concept';
    color: #0F1319;
}
body.report-winter .report-ranking ul li figure img {
    width: 28px;
    height: 28px;
}
body.report-winter p.reports-number {
    color: #0F72E3;
    border-bottom-color: #FEC542;
}
body.report-winter p.progress-percentage {
    font-family: 'Acumin Variable Concept';
    color: #0F1319;
}
body.report-winter p.deadline-text {
    font-size: 38px;
    font-family: "AcuminProCond-Bold";
    padding: 20px 10px;
    width: auto;
    color: #FEC542;
    background: transparent;
    position: relative;
    max-width: 800px;
    letter-spacing: 4px;
}
body.report-winter .progressbar-inner {
    background: #024ACE;
}
/*===================================
Animation CSS#ffffff
====================================*/
p.place, p.total {
    position: relative;
    animation-name: totalNumber;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes totalNumber {
    0%   {transform: scale(.4)}
    50%  {transform: scale(.6)}
    100% {transform: scale(1)}
}

/*=================================
Responsive CSS
==================================*/

@media screen and (min-width: 1901px) {
    .details {
        flex: 1!important;
    }
    .details p.participant {
        margin: 0px 0 0 10px!important;
        text-overflow: clip;
        white-space: pre-wrap;
        display: flex;
        align-items: center;
        max-height: 28px;
    }
    p.participant span {
        max-height: 25px;
        overflow: hidden;
        line-height: 1;
    }
    p.reports-number {
        width: auto!important;
    }
    .progressbar {
        width: auto!important;
        flex: 1;
    }
    .report-ranking ul li {
        padding-right: 35px!important;
    }
    /*Pool version responsive css*/
    body.report-pool li.col-header p {
        margin: 0 25px 0 0;
    } 
    body.report-pool .details p.participant {
        font-size: 16px;
    }
    body.report-pool p.participant span {
        max-height: 28px;
    }
    body.report-pool p.reports-number {
        color: #2A1C23;
        font-size: 16px;
        height: 22px;
        margin-top: 0;
        margin-right: 25px;
    }
    body.report-pool p.progress-percentage {
        margin: 0px 0 0 10px;
        font-size: 16px;
    }  
    /*Basketball version responsive css*/
    body.report-basketball .report-ranking ul li.col-header p {
        margin: 0 30px 0 0;
    }
    body.report-basketball .report-ranking {
        width: 100%;
    }
    body.report-basketball .report-ranking:before {
        position: absolute;
        content: '';
        width: 98%;
        height: 93%;
        top: 23px;
        left: 17px;
        background: transparent;
        border: 1px solid #152d36;
        border-radius: 20px;
        z-index: 10;
    }
    body.report-basketball .report-ranking:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        clip-path: polygon(60% 0, 100% 0, 100% 100%, 33% 100%);
        background: #3b7b93;
        z-index: 1;
        top: 0;
        right: 0;    
        border-radius: 0 20px 20px 0;
    }
    body.report-basketball .report-ranking ul li p.place {
        font-size: 18px;
    }
    body.report-basketball .details p.participant {
        font-size: 18px;
    }
    body.report-basketball .report-ranking ul li figure img {
        width: 36px;
        height: 36px;
    }
    body.report-basketball p.reports-number {
        font-size: 18px;
        margin: 7px 30px 0px 7px;
    }
    body.report-basketball .progressbar {
        height: 10px;
        margin-top: 9px;
    }
    body.report-basketball p.progress-percentage {
        margin: 6px 0 0 25px;
        font-size: 18px;
    }
    body.report-basketball h1.headline {
        padding: 130px 80px 0 80px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    /*Golf responsive css*/
    body.report-golf li.col-header p {
        font-size: 18px;
        margin: 0 32px 0 0;
    }
    body.report-golf li.col-header p.ch-progress {
        margin-left: 40px;
    }
    body.report-golf p.place {
        font-size: 24px;
        line-height: 27px;
        margin-top: 7px;
        width: 45px;
    }
    body.report-golf .report-ranking ul li figure img {
        width: 40px;
        height: 40px;
    }
    body.report-golf .details p.participant {
        width: 90px;
        position: relative;
        font-size: 17px;
        max-height: initial;
        height: auto;
    }
    body.report-golf p.participant span {
        max-height: 30px;
    }
    body.report-golf p.reports-number {
        margin: 7px 30px 0 15px;
        line-height: 27px;
        font-size: 24px;
        height: 24px;
    }
    body.report-golf .progressbar {
        margin-top: 14px;
    }
    body.report-golf p.progress-percentage {
        font-size: 24px;
        margin: 8px 10px 0 15px;
    }
    body.report-golf .details:after {
        top: 9px;
    }
    /*Newyork responsive css*/
    body.report-newyork li.col-header p {
        font-size: 18px;
        margin: 0 20px 0 0;
    }
    body.report-newyork li.col-header p.ch-progress {
        margin-left: 40px;
    }
    body.report-newyork p.place {
        font-size: 18px;
        margin-top: 4px;
        width: 40px;
    }
    body.report-newyork .report-ranking ul li figure img {
        width: 40px;
        height: 40px;
    }
    body.report-newyork .details p.participant {
        width: 140px;
        position: relative;
        font-size: 18px;
        max-height: initial;
        height: auto;
    }
    body.report-newyork p.participant span {
        max-height: 32px;
    }
    body.report-newyork p.reports-number {
        margin: 5px 30px 0 15px;
        line-height: 25px;
        font-size: 18px;
        height: 24px;
    }
    body.report-newyork .progressbar {
        margin-top: 14px;
    }
    body.report-newyork p.progress-percentage {
        font-size: 18px;
        margin: 9px 10px 0 20px;
    }
    body.report-newyork .details:after {
        top: 9px;
    }
    /*Desert responsive css*/
    body.report-desert .report-ranking ul li {
        padding-right: 0px!important;
    }
    body.report-desert .details {
        padding: 6px 40px 6px 15px;
    }
    body.report-desert .details p.participant {
        max-height: inherit;
        font-size: 22px;
    }
    body.report-desert .details p.participant span {
        max-height: 44px;
    }
    body.report-desert p.reports-number {
        font-size: 22px;
        margin-top: 15px;
    }
    body.report-desert p.progress-percentage {
        margin: 15px 10px 0 35px;
        font-size: 22px;
    }
    /*School responsive css*/
    body.report-school h1.headline {
        max-width: 1200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    body.report-school .report-ranking ul li {
        padding-right: 0px!important;
    }
    body.report-school .details {
        padding: 6px 40px 6px 15px;
    }
    body.report-school .details p.participant {
        max-height: inherit;
        font-size: 22px;
    }
    body.report-school .details p.participant span {
        max-height: 44px;
    }
    body.report-school p.reports-number {
        font-size: 22px;
        margin-top: 15px;
    }
    body.report-school p.progress-percentage {
        margin: 15px 10px 0 35px;
        font-size: 22px;
    }
    /*Magic version responsive css*/
    body.report-magic li.col-header p {
        margin: 0 25px 0 0;
    } 
    body.report-magic p.place {
        font-size: 16px;
    }
    body.report-magic .details p.participant {
        font-size: 16px;
    }
    body.report-magic p.participant span {
        max-height: 31px;
    }
    body.report-magic p.reports-number {
        font-size: 16px;
        height: 22px;
        margin-top: 0;
        margin-right: 25px;
    }
    body.report-magic p.progress-percentage {
        margin: 0px 0 0 10px;
        font-size: 16px;
    }  
    /*Winter version responsive css*/
    body.report-winter li.col-header p {
        margin: 0 25px 0 0;
    } 
    body.report-winter p.place {
        font-size: 16px;
        font-weight: 600;
    }
    body.report-winter .details p.participant {
        font-size: 16px;
        font-weight: 600;
        margin-left: 0px!important;
        width: 100px;
    }
    body.report-winter p.participant span {
        max-height: 28px;
    }
    body.report-winter p.reports-number {
        font-size: 16px;
        height: 22px;
        margin-top: 4px;
        margin-right: 25px;
        font-weight: 600;
    }
    body.report-winter p.progress-percentage {
        margin: 4px 0 0 10px;
        font-size: 16px;
        font-weight: 600;
    }  
}
@media screen and (max-width: 1900px) {
    h1.headline {
        font-size: 56px;
        padding: 25px 50px;
    }
    .report-ranking {
        width: 940px;
        flex-wrap: wrap;
    }
    .report-ranking ul:nth-child(1), .report-ranking ul:nth-child(2) {
        margin-bottom: 20px;
    }
    p.deadline-text {
        font-size: 26px;
    }
    /*Basketball version responsive css*/
    body.report-basketball {
        padding-bottom: 50px;
    }
    body.report-basketball h1.headline {
        padding: 130px 80px 0 80px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    body.report-basketball .report-ranking {
        padding: 0px 0px 50px 0px;
    }
    body.report-basketball .details p.participant {
        margin-top: 7px;
    }
    /*Golf responsive css*/
    body.report-golf .report {
        flex-direction: column;
    }
    body.report-golf .header {
        width: auto;
        height: auto;
        padding: 20px 35px;
        border-radius: 0 0 30px 30px;
        align-items: center;
    }
    body.report-golf h1.headline {
        font-size: 52px;
        text-align: center;
    }
    body.report-golf p.deadline-text{
        font-size: 26px;
        text-align: center;
    }
    body.report-golf li.col-header p {
        margin: 0 25px 0 0;
    }
    body.report-golf .report-ranking {
        width: 950px;
        margin: 20px 0 20px 0;
        padding: 0;
    }
    body.report-golf .report-ranking ul {
        width: 475px;
    }
    /*Newyork responsive css*/
    body.report-newyork .report {
        flex-direction: column;
        min-height: auto;
    }
    body.report-newyork .header {
        width: auto;
        height: auto;
        padding: 20px 35px;
        border-radius: 0 0 30px 30px;
        align-items: center;
    }
    body.report-newyork h1.headline {
        font-size: 52px;
        text-align: center;
    }
    body.report-newyork p.deadline-text{
        font-size: 26px;
        text-align: center;
    }
    body.report-newyork li.col-header p {
        margin: 0 10px 0 0;
        font-size: 12px;
    }
    body.report-newyork .report-ranking {
        width: 900px;
        margin: 20px 0 20px 0;
        padding: 0;
    }
    body.report-newyork .report-ranking ul {
        width: 430px;
        padding: 10px;
    }
    /*Desert responsive css*/
    body.report-desert .report-ranking {
        width: 760px;
    }
    body.report-desert .report-ranking ul {
        width: 760px;
    }
    /*School responsive css*/
    body.report-school {
        background-color: #285720;
        border: 16px solid #723f08;
        background-image: none;
    }
    body.report-school h1.headline {
        width: auto;
        height: auto;
        background: none;
        padding: 20px;
        font-size: 40px;
    }
    body.report-school .report-ranking {
        width: 760px;
    }
    body.report-school .report-ranking ul {
        width: 760px;
    }
    /*Magic responsive css*/
    body.report-magic h1.headline {
        font-size: 44px;
        max-width: 90%;
    }
    body.report-magic h1.headline:before, body.report-magic h1.headline::after {
        display: none;
    }
    /*Winter responsive css*/
    body.report-winter h1.headline {
        font-size: 38px;
        border-radius: 5px;
        max-width: 90%;
        padding: 0 10px;
    }
    body.report-winter h1.headline span {
        text-overflow: inherit;
        white-space: inherit;
        text-align: center;
        overflow: inherit;
    }
}

@media screen and (max-width: 1023px) {
    .report-ranking {
        width: 460px;
        flex-wrap: wrap;
    }
    .report-ranking ul:nth-child(3) {
        margin-bottom: 20px;
    }
    /*Pool responsive css*/
    body.report-pool h1.headline {
        font-size: 48px;
        padding: 20px 2px 0px 0px;
    }
    body.report-pool p.deadline-text {
        font-size: 26px;
        padding: 50px 0px;
    }
    /*Basketball version responsive css*/
    body.report-basketball h1.headline {
        font-size: 50px;
        width: 100%;
        height: auto;
        background: none;
        padding: 50px 20px;
        text-overflow: initial;
        white-space: inherit;
    }
    body.report-basketball p.deadline-text {
        font-size: 33px;
        margin: -35px 0 0 0;
        padding: 15px 25px;
    }
    /*Golf responsive css*/
    body.report-golf .header {
        padding: 15px 20px;
    }
    body.report-golf p.deadline-text {
        font-size: 22px;
        text-align: center;
    }
    body.report-golf h1.headline {
        font-size: 30px;
        text-align: center;
    }
    body.report-golf .report-ranking {
        width: 300px;
    }
    body.report-golf .report-ranking ul {
        width: 300px;
        padding: 10px 0px 10px 0px;
        margin-bottom: 20px;
    }
    body.report-golf .report-ranking ul li {
        padding-right: 35px;
    }
    body.report-golf .details {
        flex: 1;
    }
    body.report-golf .progressbar {
        width: auto;
        flex: 1;
    }
    /*Newyork responsive css*/
    body.report-newyork .header {
        padding: 15px 20px;
    }
    body.report-newyork p.deadline-text {
        font-size: 22px;
        text-align: center;
    }
    body.report-newyork h1.headline {
        font-size: 30px;
        text-align: center;
    }
    body.report-newyork .report-ranking {
        width: 300px;
    }
    body.report-newyork .report-ranking ul {
        width: 300px;
        padding: 10px 0px 10px 0px;
        margin-bottom: 20px;
    }
    body.report-newyork .report-ranking ul li {
        padding-right: 35px;
    }
    body.report-newyork .details {
        flex: 1;
    }
    body.report-newyork .progressbar {
        width: auto;
        flex: 1;
    }
    /*Desert responsive css*/
    body.report-desert h1.headline {
        width: auto;
        height: auto;
        background: none;
        padding: 20px;
        font-size: 40px;
    }
    body.report-desert .report-ranking {
        width: 450px;
    }
    body.report-desert .report-ranking ul {
        width: 450px;
        padding: 0px;
    }
    body.report-desert li.col-header p {
        font-size: 11px;
        margin: 0 55px 0 0;
    }
    body.report-desert p.place {
        font-size: 12px;
        width: 25px;
        margin: 3px 10px 0 0;
    }
    body.report-desert .details p.participant {
        margin: 17px 0 0 5px;
        padding: 0 10px 0 0;
        font-size: 12px;
        width: 100px;
    }
    body.report-desert .details p.participant:after {
        height: 20px;
        right: 5px;
        top: 0;
    }
    body.report-desert p.reports-number {
        font-size: 12px;
        height: 24px;
        margin-top: 17px;
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    body.report-desert .progressbar {
        width: 70px;
        height: 10px;
        margin-top: 24px;
        margin-left: 20px;
    }
    body.report-desert .progressbar:before {
        left: -15px;
        top: -6px;
    }
    body.report-desert p.progress-percentage {
        margin: 21px 0 0 10px;
        width: 37px;
        font-size: 12px;
    }
    body.report-desert .details:after {
        width: 10px;
        height: 10px;
        right: 15px;
        top: 28px;
    }
    /*School responsive css*/
    body.report-school .report-ranking {
        width: 450px;
    }
    body.report-school .report-ranking ul {
        width: 450px;
        padding: 0px;
    }
    body.report-school li.col-header p {
        font-size: 11px;
        margin: 0 55px 0 0;
    }
    body.report-school p.place {
        font-size: 12px;
        width: 25px;
        margin: 3px 10px 0 0;
    }
    body.report-school .details p.participant {
        margin: 17px 0 0 5px;
        padding: 0 10px 0 0;
        font-size: 12px;
        width: 100px;
    }
    body.report-school .details p.participant:after {
        height: 20px;
        right: 5px;
        top: 0;
    }
    body.report-school p.reports-number {
        font-size: 12px;
        height: 24px;
        margin-top: 17px;
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    body.report-school .progressbar {
        width: 70px;
        height: 10px;
        margin-top: 24px;
        margin-left: 20px;
    }
    body.report-school .progressbar:before {
        left: -15px;
        top: -6px;
    }
    body.report-school p.progress-percentage {
        margin: 21px 0 0 10px;
        width: 37px;
        font-size: 12px;
    }
    body.report-school .details:after {
        width: 10px;
        height: 10px;
        right: 15px;
        top: 28px;
    }
    /*Magic Responsive CSS*/
    body.report-magic h1.headline {
        font-size: 56px;
        padding: 35px 0px 0px 0px;
        text-shadow: 0px 3px 2px #000000;
        width: 100%;
    }
    body.report-magic h1.headline span {
        max-width: 100%;
        padding-left: 15px;
    }
    body.report-magic h1.headline:before, body.report-magic h1.headline:after{
        display: none;
    }
    body.report-magic .report {
        justify-content: start;
        padding-bottom: 200px;
    }
}
@media screen and (max-width: 479px) {
    h1.headline {
        font-size: 40px;
        padding: 20px 25px;
    }
    .report-ranking {
        width: 320px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .report-ranking ul {
        width: 300px;
        padding-left: 10px;
        padding-right: 10px;
    }
    li.col-header p {
        margin: 0 11px 0 0;
    }
    li.col-header p.ch-progress {
        margin: 0 11px 0 0px;
    }
    .progressbar {
        width: 30px;
    }
    p.deadline-text {
        font-size: 30px;
        padding: 25px 10px;
    }
    /*Desert responsive css*/
    body.report-desert h1.headline {
        font-size: 34px;
        padding: 20px 35px;
    }
    body.report-desert .report-ranking {
        width: 300px;
    }
    body.report-desert .report-ranking ul {
        width: 300px;
        padding: 0px;
    }
    body.report-desert li.col-header p {
        font-size: 10px;
        margin: 0 20px 0 0;
    }
    body.report-desert p.place {
        font-size: 11px;
        width: 20px;
        margin: 3px 5px 0 0;
    }
    body.report-desert .details {
        padding: 6px 10px;
        border-radius: 15px;
    }
    body.report-desert .report-ranking ul li figure img {
        width: 24px;
        height: 24px;
        margin-top: 2px;
    }
    body.report-desert .details p.participant {
        margin: 5px 0 0 5px;
        padding: 2px 6px 0 0;
        font-size: 11px;
        width: 65px;
    }
    body.report-desert p.reports-number {
        font-size: 11px;
        height: 16px;
        margin-top: 7px;
        width: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
    body.report-desert .progressbar {
        width: 30px;
        height: 8px;
        margin-top: 13px;
        margin-left: 10px;
    }
    body.report-desert .progressbar:before {
        left: -8px;
        top: -5px;
    }
    body.report-desert p.progress-percentage {
        margin: 10px 0 0 5px;
        width: 25px;
        font-size: 11px;
    }
    body.report-desert .details:after {
        top: 18px;
    }
    body.report-desert p.deadline-text {
        padding: 0 0 40px 0;
        font-size: 20px;
    }
    /*School responsive css*/
    body.report-school h1.headline {
        font-size: 34px;
        padding: 20px 35px;
    }
    body.report-school .report-ranking {
        width: 300px;
    }
    body.report-school .report-ranking ul {
        width: 300px;
        padding: 0px;
    }
    body.report-school li.col-header p {
        font-size: 10px;
        margin: 0 20px 0 0;
    }
    body.report-school p.place {
        font-size: 11px;
        width: 20px;
        margin: 3px 5px 0 0;
    }
    body.report-school .details {
        padding: 6px 10px;
        border-radius: 15px;
    }
    body.report-school .report-ranking ul li figure img {
        width: 24px;
        height: 24px;
        margin-top: 2px;
    }
    body.report-school .details p.participant {
        margin: 5px 0 0 5px;
        padding: 2px 6px 0 0;
        font-size: 11px;
        width: 65px;
    }
    body.report-school p.reports-number {
        font-size: 11px;
        height: 16px;
        margin-top: 7px;
        width: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
    body.report-school .progressbar {
        width: 30px;
        height: 8px;
        margin-top: 13px;
        margin-left: 10px;
    }
    body.report-school .progressbar:before {
        left: -8px;
        top: -5px;
    }
    body.report-school p.progress-percentage {
        margin: 10px 0 0 5px;
        width: 25px;
        font-size: 11px;
    }
    body.report-school .details:after {
        top: 18px;
    }
    body.report-school p.deadline-text {
        padding: 0 0 40px 0;
        font-size: 20px;
    }
    
}