@font-face {
    font-family: 'NunitoBlack';
    src: url('../fonts/NunitoBlack.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PacificoRegular';
    src: url('../fonts/PacificoRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background-image: url(../images/body-bg-tropical.jpg);
    font-family: 'NunitoBlack';
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    background-position: center;
}
.leaderboard {
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 1080px;
    justify-content: space-between;
}
.header {
    width: 524px;
}
h1.headline {
    margin: 0 auto;
    font-size: 98px;
    font-weight: 100;
    line-height: 1.2;
    padding: 12px;
    border-radius: 0;
    overflow: hidden;
    max-height: 255px;
    color: #ffffff;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: #ffffff;
    text-shadow: -12px 11px 2px #000000;
    font-family: 'PacificoRegular';
}
p.subheadline {
    line-height: 1.1;
    margin: 40px 0 0 0;
    font-size: 32px;
    max-width: 840px;
    color: #e9a902;
    max-height: 110px;
    overflow: hidden;
}
.content {    
    display: flex;
    flex-direction: column;
    width: 1101px;
    height: 645px;
    justify-content: start;
    background-image: url(../images/tropical-content-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 25px;
    position: relative;
}
.content:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 92px;
    right: -20px;
    top: 75px;
    background-image: url(../images/tropical-leap.png);
}
.content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: -170px;
}
.content-top figure {
    margin: 0;
    padding: 0;
}
.content-top figure img {
    margin: 0;
    width: 337px;
    height: 337px;
    object-fit: cover;
    object-position: top;
    display: block;
    border-radius: 50%;
    background: #E9A900;
    padding: 10px;
}
p.figure-title {
    margin: 15px auto;
    color: #FFF;
    font-size: 82px;
    line-height: 1.5;
    max-height: 120px;
    overflow: hidden;
    text-align: center;
    max-width: 920px;
}
.content-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-bottom p {
    margin: 0;
    color: #ffffff;
    font-size: 57px;
    width: 850px;
    line-height: 1.4;
    max-height: 240px;
    overflow: hidden;
    text-align: center;
}
.content-bottom p span {
    color: #e9a902;
}
/*=================================
Responsive CSS
==================================*/

@media screen and (max-width: 1900px) {
    .leaderboard {
        flex-direction: column;
        max-width: 1000px;
        min-height: auto;
    }
    .header {
        padding: 50px 0;
        width: 100%;
        text-align: center;
    }
    h1.headline {
        font-size: 65px;
        padding: 0px;
        overflow: initial;
        max-height: initial;
    }
    p.subheadline {
        max-width: 100%;
    }
    .content {
        margin: 60px 0;
        height: auto;
        background-image: none;
    }
    .content:after {
        display: none;
    }
    .content-top {
        margin-top: 0;
    }
    .content-bottom {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1023px) {
    h1.headline {
        overflow: auto;
        text-overflow: initial;
        white-space: initial;
        font-size: 80px;
    }
    .content {
        justify-content: start;
        width: 100%;
        background-image: none;
        margin: 0;
    }
    .content-top {
        width: 100%;
        margin: 0;
        flex-direction: column;
    }
    .content-top figure img {
        width: 265px;
        height: 265px;
        margin: 0 auto;
    }
    p.figure-title {
        font-size: 35px;
        max-height: inherit;
        margin: 15px 0;
    }
    .content-bottom {
        margin: 0;
        padding: 0 15px;
    }
    .content-bottom p {
        margin: 0;
        font-size: 42px;
        width: auto;
        max-height: initial;
        text-align: center;
    }
}