@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/oswald-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswald_regularregular';
    src: url('../fonts/oswald-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background-image: url(../images/body-bg-golf.jpg);
    font-family: 'oswald_regularregular';
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    background-position: center;
}
.leaderboard {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 950px;
    min-height: 316px;
}
h1.headline {
    margin: 20px auto 0 auto;
    font-size: 41px;
    padding: 0;
    border-radius: 0;
    color: #568232;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'oswaldbold';
    max-width: 433px;
}
p.subheadline {
    margin: 15px auto 20px auto;
    font-size: 15px;
    width: 433px;
    color: #734531;
    max-height: 40px;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5;
}
.content {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
}
.content-left {
    width: 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-left figure {
    margin: 0;
    padding: 0;
}
.content-left figure img {
    margin: 0;
    padding: 0;
    width: 115px;
    height: 115px;
    object-fit: contain;
    object-position: center;
    display: block;
    border-radius: 50%;
    border: 6px solid #fff;
}
p.figure-title {
    margin: 10px auto 0 auto;
    color: #2A1C23;
    font-size: 18px;
    max-width: 154px;
    line-height: 1.3;
    max-height: 18px;
    overflow: hidden;
    font-family: 'oswaldbold';
    text-transform: uppercase;
}
.content-right {
    width: 435px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: left;
}
.header {
    width: 100%;
    max-width: 950px;
}
p.content-text {
    margin: 0;
    color: #2A1C23;
    font-size: 22px;
    line-height: 1.3;
    background: #EBEFE3;
    padding: 27px 60px;
    border-radius: 30px 30px 30px 0;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    position: relative;
}
p.content-text::before {
    position: absolute;
    content: '';
    width: 17px;
    height: 12px;
    left: 25px;
    top: 30px;
    background-image: url(../images/golf-quote.png);
}
.content-right p span {
    max-height: 80px;
    overflow: hidden;
}
/*=================================
Responsive CSS
==================================*/

@media screen and (max-width: 650px) {
    .content {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-right {
        width: 100%;
        padding: 0 15px;
        margin: 15px 0;
    }
}