*, *:before, *:after {
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background-image: url(../images/body-bg-study1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    background-position: center;
}
.content {
    width: 667px;
    min-height: 315px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-left {
    background: #FFF;
    width: 240px;
    height: 200px;
    border-radius: 10px;
    position: relative;
}
.content-left::after {
    position: absolute;
    content: '';
    right: 25px;
    bottom: -23px;
    width: 49px;
    height: 26px;
    background-image: url(../images/study1-arrow.png);
    background-repeat: no-repeat;
}
.content-left-box {
    overflow: hidden;
    border: 10px solid #FFF;
    border-radius: 10px;
    max-height: 200px;
}
.content-right {
    background: #FFF;
    width: 240px;
    height: 100px;
    border-radius: 10px;
    position: relative;
}
.content-right-box {
    overflow: hidden;
    border: 10px solid #FFF;
    border-radius: 10px;
    max-height: 100px;
}
.content-right::after {
    position: absolute;
    content: '';
    left: 25px;
    bottom: -23px;
    width: 49px;
    height: 26px;
    background-image: url(../images/study1-arrow.png);
    background-repeat: no-repeat;
    transform: rotateY(-180deg);
}
/*=================================
Responsive CSS
==================================*/

@media screen and (max-width: 944px) {

}