@font-face {
    font-family: 'HelveticaNeueLTPro55Roman';
    src: url('../fonts/HelveticaNeueLTPro55Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background-image: url(../images/body-bg-study1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    background-position: center;
    font-family: 'HelveticaNeueLTPro55Roman';
}
.content {
    width: 667px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-left {
    background: #FFF;
    width: 240px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    padding: 15px;    
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-left::after {
    position: absolute;
    content: '';
    right: 25px;
    bottom: -23px;
    width: 49px;
    height: 26px;
    background-image: url(../images/study1-arrow.png);
    background-repeat: no-repeat;
}
.twitter-header {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 25px;
}
.twitter-header:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 12px;
    right: 0;
    top: 0;
    background-image: url(../images/twitter.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.twitter-header img {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
}
h2.twitter-account-name {
    margin: 0;
    font-size: 12px;
    position: relative;
    display: flex;
    align-items: center;

}
h2.twitter-account-name span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
}
h2.twitter-account-name img {
    display: inline-block;
    position: relative;
    left: inherit;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}
p.twitter-handle {
    margin: 0;
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
}
.twitter-content p {
    font-size: 11px;
    line-height: 1;
    max-height: 44px;
    overflow: hidden;
    margin: 5px 0 0 0;
}
.twitter-content img {
    width: 100%;
    height: 88px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 5px 0 0 0;
    border-radius: 5px;
}
.content-right {
    background: #FFF;
    width: 240px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    padding: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-right::after {
    position: absolute;
    content: '';
    left: 25px;
    bottom: -23px;
    width: 49px;
    height: 26px;
    background-image: url(../images/study1-arrow.png);
    background-repeat: no-repeat;
    transform: rotateY(-180deg);
}
/*=================================
Responsive CSS
==================================*/

@media screen and (max-width: 944px) {
    .content {
        width: 90%;
        justify-content: space-between;
        padding: 50px 0;
    }
    .content-left, .content-right {
        width: 40%;
    }
}